= simple_form_for [:admin, university], html: { id: 'form-university' } do |f|
  .x_panel
    .x_title
      %h2 University Details
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      - flash.each do |name, msg|
        .alert.alert-success
          = msg
      - if university.errors.any?
        - university.errors.full_messages.each do |e|
          .alert.alert-danger
            = e
      .row
        .col-xs-12
          = f.input :name, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :email_slug, input_html: { class: 'form-control', placeholder: 'Eg. @myuct.ac.za' }
      .row
        .col-xs-12
          = f.input :city_id, as: :select, collection: cities, selected: cities.first.id, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.label :status
          = check_box_tag :false_status, false, true, class: 'cmn-toggle cmn-toggle-round', name: 'university[status]'
          .switch.switch-sm
            = check_box_tag :status, true, university.status, class: 'cmn-toggle cmn-toggle-round', name: 'university[status]'
            %label{ for: 'status' }
