.page-header
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-shield.page-header-icon
        #{@university.name}
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to admin_universities_path do
          #button-cancel-university.btn.btn-lg.btn-cancel
            Cancel
        %button.submit-form-button.btn.btn-primary.btn-lg{ 'data-target': 'university' } Save
.row
  .col-xs-12.col-md-7
    = render 'form', university: @university, cities: @cities


