.page-header.border-t
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-university.page-header-icon
        Universities
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to new_admin_university_path, class: 'btn btn-primary btn-lg right' do
          Add University
.row
  .col-xs-12
    .table-responsive
      %table.table.table-striped.jambo_table.bulk_action
        %thead
          %tr.headings
            %th{colspan: '14'}
              .row
                .col-sm-offset-4.col-xs-4.col-sm-3.text-right
                  = render 'admin/dashboards/per_page'
                .col-xs-8.col-sm-5
                  = render 'admin/dashboards/search_form', target: 'universities', query: params[:query], attr: 'name'
          %tr.headings
            %th.column-title
              Name
              = render 'admin/dashboards/column_sorting', model: University, column: :name
            %th.column-title
              Status
              = render 'admin/dashboards/column_sorting', model: University, column: :status
            %th.column-title.no-link.last
              %span.nobr Action
        - if @universities.present?
          %tbody
            - @universities.each do |university|
              %tr.even.pointer
                %td
                  = link_to edit_admin_university_path(university) do
                    = university.name
                %td= university.status ? "Enabled" : "Disabled"
                %td.last{width: '100'}
                  .btn-group
                    = link_to edit_admin_university_path(university), class: 'btn btn-xs btn-default' do
                      %i.fa.fa.fa-pencil
                    = link_to admin_university_path(university), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do
                      %i.fa.fa-trash
        - else
          %tbody
            %tr.even.pointer
              %td{colspan: '14'}
                No universities to display

= paginate @universities