<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; background: #d9d9d9; margin: 0; padding: 0;" bgcolor="#d9d9d9"><style type="text/css">
a:hover {
color: #dc0371 !important;
}
a:active {
color: #dc0371 !important;
}
a:visited {
color: #dc0371 !important;
}
h1 a:active {
color: #2ba6cb !important;
}
h2 a:active {
color: #2ba6cb !important;
}
h3 a:active {
color: #2ba6cb !important;
}
h4 a:active {
color: #2ba6cb !important;
}
h5 a:active {
color: #2ba6cb !important;
}
h6 a:active {
color: #2ba6cb !important;
}
h1 a:visited {
color: #2ba6cb !important;
}
h2 a:visited {
color: #2ba6cb !important;
}
h3 a:visited {
color: #2ba6cb !important;
}
h4 a:visited {
color: #2ba6cb !important;
}
h5 a:visited {
color: #2ba6cb !important;
}
h6 a:visited {
color: #2ba6cb !important;
}
table.secondary:hover td {
background: #d0d0d0 !important; color: #555;
}
table.secondary:hover td a {
color: #555 !important;
}
table.secondary td a:visited {
color: #555 !important;
}
table.secondary:active td a {
color: #555 !important;
}
table.success:hover td {
background: #457a1a !important;
}
table.alert:hover td {
background: #970b0e !important;
}
table.facebook:hover td {
background: #2d4473 !important;
}
table.twitter:hover td {
background: #0087bb !important;
}
table.google-plus:hover td {
background: #CC0000 !important;
}
@media only screen and (max-width: 600px) {
  table[class="body"] img {
    width: auto !important; height: auto !important;
  }
  table[class="body"] center {
    min-width: 0 !important;
  }
  table[class="body"] .container {
    width: 95% !important;
  }
  table[class="body"] .row {
    width: 100% !important; display: block !important;
  }
  table[class="body"] .wrapper {
    display: block !important; padding-right: 0 !important;
  }
  table[class="body"] .columns {
    table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
  }
  table[class="body"] .column {
    table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
  }
  table[class="body"] .wrapper.first .columns {
    display: table !important;
  }
  table[class="body"] .wrapper.first .column {
    display: table !important;
  }
  table[class="body"] table.columns td {
    width: 100% !important;
  }
  table[class="body"] table.column td {
    width: 100% !important;
  }
  table[class="body"] .columns td.one {
    width: 8.333333% !important;
  }
  table[class="body"] .column td.one {
    width: 8.333333% !important;
  }
  table[class="body"] .columns td.two {
    width: 16.666666% !important;
  }
  table[class="body"] .column td.two {
    width: 16.666666% !important;
  }
  table[class="body"] .columns td.three {
    width: 25% !important;
  }
  table[class="body"] .column td.three {
    width: 25% !important;
  }
  table[class="body"] .columns td.four {
    width: 33.333333% !important;
  }
  table[class="body"] .column td.four {
    width: 33.333333% !important;
  }
  table[class="body"] .columns td.five {
    width: 41.666666% !important;
  }
  table[class="body"] .column td.five {
    width: 41.666666% !important;
  }
  table[class="body"] .columns td.six {
    width: 50% !important;
  }
  table[class="body"] .column td.six {
    width: 50% !important;
  }
  table[class="body"] .columns td.seven {
    width: 58.333333% !important;
  }
  table[class="body"] .column td.seven {
    width: 58.333333% !important;
  }
  table[class="body"] .columns td.eight {
    width: 66.666666% !important;
  }
  table[class="body"] .column td.eight {
    width: 66.666666% !important;
  }
  table[class="body"] .columns td.nine {
    width: 75% !important;
  }
  table[class="body"] .column td.nine {
    width: 75% !important;
  }
  table[class="body"] .columns td.ten {
    width: 83.333333% !important;
  }
  table[class="body"] .column td.ten {
    width: 83.333333% !important;
  }
  table[class="body"] .columns td.eleven {
    width: 91.666666% !important;
  }
  table[class="body"] .column td.eleven {
    width: 91.666666% !important;
  }
  table[class="body"] .columns td.twelve {
    width: 100% !important;
  }
  table[class="body"] .column td.twelve {
    width: 100% !important;
  }
  table[class="body"] td.offset-by-one {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-two {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-three {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-four {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-five {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-six {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-seven {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-eight {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-nine {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-ten {
    padding-left: 0 !important;
  }
  table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important;
  }
  table[class="body"] table.columns td.expander {
    width: 1px !important;
  }
  table[class="body"] .right-text-pad {
    padding-left: 10px !important;
  }
  table[class="body"] .text-pad-right {
    padding-left: 10px !important;
  }
  table[class="body"] .left-text-pad {
    padding-right: 10px !important;
  }
  table[class="body"] .text-pad-left {
    padding-right: 10px !important;
  }
  table[class="body"] .hide-for-small {
    display: none !important;
  }
  table[class="body"] .show-for-desktop {
    display: none !important;
  }
  table[class="body"] .show-for-small {
    display: inherit !important;
  }
  table[class="body"] .hide-for-desktop {
    display: inherit !important;
  }
  table[class="body"] .right-text-pad {
    padding-left: 10px !important;
  }
  table[class="body"] .left-text-pad {
    padding-right: 10px !important;
  }
}
</style>
  <table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; height: 100%; width: 100%; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;"><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="center" align="center" valign="top" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;">
        <center style="width: 100%; min-width: 580px;">


          <table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; background: #fff; margin: 0 auto; padding: 0;" bgcolor="#fff"><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top">

                <!-- content start -->
                <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="wrapper top last" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; position: relative; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px;" align="center" valign="top">

                      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="center" valign="top">

                            <a href="https://varsityvibe.co.za" class="imagelink" style="color: #dc0371 !important; text-decoration: none; outline: none !important;"><img width="580" height="227" src="<%= image_url('header.jpg') %>" alt="Varsity Vibe" style="margin-bottom: 7px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border: none;" align="left" /></a>

                          </td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr></table></td>
                  </tr></table><table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="wrapper last" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; position: relative; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="center" valign="top">

                      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="panel" mc:edit="name" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 30px 20px;" align="center" valign="top">
                            <p class="name" style="text-align: center; color: #000000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 25px; margin: 0; padding: 0;" align="center">Hi <%= member.first_name %></p>
                          </td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="panel" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 30px 20px;" align="center" valign="top">
                            <p style="text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center">We see you're keen on joining Varsity Vibe, this is great news!</p>
                          </td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="center" valign="top">
                            <img width="580" height="81" src="<%= image_url('almostthere.jpg') %>" alt="You're almost there!" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" align="left" /></td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="panel" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 30px 20px;" align="center" valign="top">
                            <p style="text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center">In order to finalise your membership please transfer <%= format_price_for_display club.price %> into our bank account.<br />You will find our banking details and your reference number below:<br />(<span class="pink" style="color: #dc0371; font-weight: bold;">NB:</span> please put your reference number under the Beneficiary statement description)</p>
                          </td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="panel" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 30px 20px;" align="center" valign="top">
                            <p style="text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center"><img class="img-nofloat" width="48" height="72" src="<%= image_url('arrow.jpg') %>" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: inline;" align="none" /></p>
                            <table class="bankdetails" align="center" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: center; width: 300px !important; padding: 0;"><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">Bank :</td>
                                <td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">Capitec Bank</td>
                              </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">Branch code :</td>
                                <td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">470010</td>
                              </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">Account number :</td>
                                <td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">1406434300</td>
                              </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">Account type :</td>
                                <td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">Savings</td>
                              </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">Account Name :</td>
                                <td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: left !important; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0px; padding: 0px;" align="left !important" valign="top">VARSITY VIBE (PTY) LTD</td>
                              </tr></table></td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="panel darkpanel" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; background: #878787; margin: 0; padding: 0px 30px 20px;" align="center" bgcolor="#878787" valign="top">
                            <p class="referral" style="text-align: center; color: #000; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 26px; font-size: 22px; margin: 18px 0 0; padding: 0;" align="center">reference number : <span class="referral-white" mc:edit="reference_number" style="color: #fff !important;"><%= membership.referral_code %></span></p>
                          </td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="panel" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 30px 20px;" align="center" valign="top">
                          <br /><p style="text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center">Once payment has been made your membership will be activated in 24 - 48hrs. We just need to wait for your payment to clear into our bank account.</p>
                          </td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="center" valign="top">
                            <img width="580" height="139" src="<%= image_url('change.jpg') %>" alt="WANT TO CHANGE YOUR PAYMENT METHOD?" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" align="left" /></td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td class="panel" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 30px 20px;" align="center" valign="top">
                            <p mc:edit="change_method" style="text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center">No problem! If you have changed your mind and want to pay using your mom's, dad's or sister from another mister's credit /debit card simply <a href="<%= url_for signup_payment_url(membership.referral_code) %>" style="color: #dc0371 !important; text-decoration: underline; outline: none !important;">CLICK HERE</a>.</p>
                          </td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr><tr style="vertical-align: top; text-align: center; padding: 0;" align="center"><td style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="center" valign="top">
                          <a href="https://varsityvibe.co.za" class="imagelink" style="color: #dc0371 !important; text-decoration: none; outline: none !important;"><img width="580" height="125" src="<%= image_url('cheers.jpg') %>" alt="Cheers, the Varsity Vibe team" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border: none;" align="left" /></a>
                          </td>
                          <td class="expander" style="word-break: normal; border-collapse: collapse !important; vertical-align: top; text-align: center; visibility: hidden; width: 0px; color: #575756; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold; line-height: 20px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top"></td>
                        </tr></table></td>
                  </tr></table><!-- container end below --></td>
            </tr></table></center>
      </td>
    </tr></table></body>
</html>
