Hi <%= @member.first_name %>,

Your account is about to be activated by a Vibe Agent, but in order to do so, you'll need to provide them with the following OTP:

<%= @member.otp %>

The Varsity Vibe Team
