<%= if @membership.active?
      render 'complete', member: @member, membership: @membership, club: @club
    else
      render 'pay_first', member: @member, membership: @membership, club: @club
    end
%>