.btn-group
  %button.btn.btn-default{type: 'button' } Bulk Actions
  %button.btn.btn-default.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
    %i.fa.fa-caret-down
  %ul.dropdown-menu#bulk-actions
    %li
      = link_to 'Mark as Paid', bulk_paid_admin_memberships_path
    %li.divider
    %li
      = link_to 'Send Payment Reminder', mail_admin_memberships_path(mail_request: 'payment_reminder')
    %li
      = link_to 'Send Welcome', mail_admin_memberships_path(mail_request: 'welcome')
    %li
      = link_to 'Request Banking Details', mail_admin_memberships_path(mail_request: 'banking')
.btn-group
  %button.btn.btn-default{type: 'button'} Filter Memberships
  %button.btn.btn-default.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
    %i.fa.fa-caret-down
  %ul.dropdown-menu
    %li
      = link_to 'All', admin_memberships_path(per_page: params[:per_page])
    %li
      = link_to 'Active', admin_memberships_path(filter: 'active', per_page: params[:per_page])
    %li
      = link_to 'Inactive', admin_memberships_path(filter: 'inactive', per_page: params[:per_page])
    %li.divider
    %li
      = link_to 'Paid', admin_memberships_path(filter: 'paid', per_page: params[:per_page])
    %li
      = link_to 'Unpaid', admin_memberships_path(filter: 'unpaid', per_page: params[:per_page])