#membership-form.modal.fade.membership-details{:role => "dialog", :style => "display: none;", :tabindex => "-1"}
  = simple_form_for([:admin, membership], html: {id: 'form-membership'}) do |f|
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %span.modal-title.valign-middle Membership Details
        .modal-body
          = f.input :member_id, as: :hidden
          .row
            .col-xs-6
              = f.label :status, 'Membership Status'
              = check_box_tag :false_status, false, true, class: 'cmn-toggle cmn-toggle-round', name: 'membership[status]'
              .switch.switch-sm
                = check_box_tag :status, true, membership.status, class: 'cmn-toggle cmn-toggle-round', name: 'membership[status]'
                %label{ for: 'status' }
          .row
            .col-xs-12
              = f.input :referral_code, label: 'Referral Code', input_html: { class: 'form-control', readonly: 'readonly' }
            .col-xs-12
              = f.input :referred_by_code, label: "Referred By #{membership.referred_by_code}", input_html: { class: 'form-control' }
          .row.padding-sm-vr.no-padding-b
            .col-sm-6
              .form-group.no-margin-hr
                %label Paid?
                .switch.switch-sm
                  = check_box_tag :paid, false, false, class: 'cmn-toggle cmn-toggle-round'
                  %label{for: 'paid'}
          #membership-form-payment-details{ style: 'display: none;' }
            =f.fields_for :payment do |p|
              .row
                .col-xs-12
                  = p.input :date_paid, as: :datepicker, label: 'Payment Date', input_html: { class: 'form-control' }
              .row
                .col-xs-12
                  = p.input :payment_source, label: 'Payment Method', as: :select, collection: %w(Cash EFT PayFast), selected: membership.payment.try(:payment_source) || 'Cash', input_html: { class: 'form-control' }
              .row
                .col-xs-12
                  .form-group.no-margin-hr
                    %label.control-label{for: 'referenceno'}
                      Reference#
                      %span.text-light-gray (optional)
                    = p.input :reference_number, label: false, input_html: { class: 'form-control' }
              .row
                .col-xs-12
                  .form-group.no-margin-hr
                    %label.control-label{for: 'paymentnotes'}
                      Notes
                      %span.text-light-gray (optional)
                    = p.input :notes, label: false, input_html: { class: 'form-control' , rows: '3' }
        .modal-footer
          = f.submit 'Save', class: 'btn btn-primary btn-sm'
          %button#btn-cancel-branch.btn.btn-sm.btn-cancel{'data-dismiss': 'modal'} Cancel
