.table-responsive
  %table.table.table-striped.jambo_table.bulk_action.table-1700
    %thead
      %tr.headings
        %th{colspan: '14'}
          .row
            .col-xs-3.col-sm-4
              = render 'admin/memberships/bulk'
            .col-xs-2.col-sm-3.text-right
              = render 'admin/dashboards/per_page'
            .col-xs-7.col-sm-5
              = render 'admin/dashboards/search_form', target: 'memberships', query: params[:query], attr: 'name'
      %tr.headings
        %th
          %input#check-all.flat{:type => "checkbox"}
        %th
          Member
          = render 'admin/dashboards/column_sorting', model: Membership, column: :last_name
        %th
          E-mail
          = render 'admin/dashboards/column_sorting', model: Membership, column: :email
        %th
          Member
          = render 'admin/dashboards/column_sorting', model: Membership, column: :referral_code
        %th
          Student #
          = render 'admin/dashboards/column_sorting', model: Membership, column: :student_email
        %th
          Agent
          = render 'admin/dashboards/column_sorting', model: Membership, column: :is_agent
        %th
          Ref. By
          = render 'admin/dashboards/column_sorting', model: Membership, column: :parent_referral_code
        %th
          Joined
          = render 'admin/dashboards/column_sorting', model: Membership, column: :'members.created_at'
        %th
          Ref. Paid
          = render 'admin/dashboards/column_sorting', model: Membership, column: :paid_members
        %th
          Ref. Unpaid
          = render 'admin/dashboards/column_sorting', model: Membership, column: :unpaid_members
        %th
          Verified
          = render 'admin/dashboards/column_sorting', model: Membership, column: :verified
        %th
          Paid
          = render 'admin/dashboards/column_sorting', model: Membership, column: :paid
        %th
          Bank Details
          = render 'admin/dashboards/column_sorting', model: Membership, column: :bank_name, null_last: true
        %th.no-link.last
          %span.nobr Action
      %tr.headings
        %th.column-title.hidden{colspan: '14'}
        %th.bulk-actions{colspan: '14'}
          %a.antoo
            Bulk Actions (
            %span.action-cnt
            )
            %i.fa.fa-chevron-down
    - if memberships.present?
      %tbody
        - memberships.each do |membership|
          %tr.even.pointer{ 'data-id': membership.member_id }
            %td.a-center
              = check_box_tag :table_records, membership.id, false, class: 'check-item flat'
            %td
              = image_tag membership.member.try(:avatar), class: 'avatar'
              = link_to edit_admin_member_url(membership.member) do
                = membership.member_name
            %td= membership.email
            %td= membership.referral_code
            %td{width: '100'}= membership.member.student_number
            %td
              .switch.switch-sm
                = check_box_tag :agent, true, membership.is_agent, class: 'cmn-toggle cmn-toggle-round switch-agent-status', id: "agent_#{membership.id}"
                %label{ for: "agent_#{membership.id}" }
            %td= membership.parent_referral_code
            %td{width: '100'}
              %i.fa.fa-calendar #{' '}
              = membership.member_created_at.strftime('%Y-%m-%d')
            %td
              .label.label-info= membership.paid_members
            %td
              .label.label-danger= membership.unpaid_members
            %td
              - if membership.verified
                %span.text-success.text-bold Yes
              - else
                %span.text-warning.text-bold No
            %td
              %span
                = link_to payment_details_admin_membership_path(membership), class: "text-bold text-underline #{membership.paid? ? 'text-success' : 'text-warning'}", remote: true do
                  = membership.paid? ? 'Paid' : 'Unpaid'
            %td
              %span
                = link_to banking_panel_admin_member_path(membership.member), class: "text-bold text-underline #{membership.bank_name ? 'text-success' : 'text-warning'}", remote: true do
                  = membership.account_name ? 'Yes' : 'No'
            %td.last{ width: '100' }
              .btn-group
                = link_to edit_admin_member_path(membership.member), class: 'btn btn-xs btn-default' do
                  %i.fa.fa.fa-pencil
                = link_to admin_member_path(membership.member), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do
                  %i.fa.fa-trash
    - else
      %tbody
        %tr.even.pointer
          %td{colspan: '14'}
            No member to display