.modal.fade#new-member-modal{role: 'dialog', style: 'display: none;', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden': 'true', 'data-dismiss': 'modal', type: 'button'} ×
        %span.modal-title.valign-middle Add new Member
      .modal-body
        %form{action: new_admin_members_path, method: 'get'}
          .row
            .col-sm-12
              .form-group.no-margin-hr
                %label.control-label Student / ID Number *
                %input.form-control{name: 'id_number', type: 'text', value: ''}
                %p.help-block Start with the ID number so we know whether we're creating a member from scratch or updating an existing member's details
          .row
            .col-sm-12
              .form-group.no-margin-hr
                %button.btn.btn-primary.add-new-member Continue
                %a.btn.modal-cancel{'data-dismiss': 'modal', href: '#'} Cancel
                  