"Referral Code","Referred BY","Paid","Active","ID","First Name","Surname","Email","Cell","Date of Birth","Gender","Postal Address","Suburb", "City","Postal Code","Study Region","Bank Name","Account Name","Account Number","Account Type","Branch Code"
- @memberships.each do |ref|
  - ref.member.banking_detail = BankingDetail.new if ref.member.banking_detail.nil?
  "#{ref.referral_code.to_s.html_safe}","#{ref.referred_by_code.to_s.html_safe}","#{ref.paid.to_s.html_safe}","#{ref.status.to_s.html_safe}","#{ref.member.id_number.to_s.html_safe}","#{ref.member.first_name.to_s.html_safe}","#{ref.member.last_name.to_s.html_safe}","#{ref.member.email.to_s.html_safe}","#{ref.member.mobile_number.to_s.html_safe}","#{ref.member.date_of_birth.to_s.html_safe}","#{ref.member.gender.to_s.html_safe}","#{ref.member.postal_address.to_s.html_safe}","#{ref.member.postal_suburb.to_s.html_safe}","#{ref.member.postal_city.to_s.html_safe}","#{ref.member.postal_code.to_s.html_safe}","#{ref.member.study_region.to_s.html_safe}","#{ref.member.banking_detail.bank_name.to_s.html_safe}","#{ref.member.banking_detail.account_name.to_s.html_safe}","#{ref.member.banking_detail.account_number.to_s.html_safe}","#{ref.member.banking_detail.branch_code.to_s.html_safe}"
