.page-header.border-t
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-users.page-header-icon
        Members
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to '#', class: 'btn btn-primary btn-lg right', data: { toggle: 'modal', target: '#new-member-modal' } do
          Add member
.row
  .col-xs-12
    = render 'membership_table', memberships: @memberships

= paginate @ms


#modalForm
= render 'admin/memberships/new_modal_form'

