$('#modalForm').empty();
$('#modalForm').html("#{escape_javascript(render 'admin/memberships/form', membership: @membership)}");
$('#modalForm .datepicker input').datepicker({dateFormat: "dd M yy"});
$('#membership-form').modal('show');
