$('#banking-detail-modal').empty();
$('#modalForm').html("#{escape_javascript(render 'admin/payments/modal_form', payment: @payment, membership: @membership)}");
$('#modalForm .datepicker input').datepicker({dateFormat: "dd M yy"});
$('#modal-payment-details').modal('show');