.page-header.border-t
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-download.page-header-icon
          Membership Reports   
.row
  .col-md-7.col-xs-12
    .x_panel
      .x_title
        %ul.nav.navbar-right.panel_toolbox
          %li.right
            %a.collapse-link
              %i.fa.fa-chevron-up
        .clearfix
      .x_content
        .col-sm-12
          = simple_form_for 'search', url: report_admin_memberships_path(format: 'csv'), method: :post do |f|
            .row
              .col-sm-6
                .form-group.no-margin-hr
                  = f.label :start_date
                  = f.input :start_date, as: :datepicker, label: false, input_html: { placeholder: "dd/mm/yyyy", class: 'form-control' }
              .col-sm-6
                .form-group.no-margin-hr
                  = f.label :end_date
                  = f.input :end_date, as: :datepicker, label: false, input_html: { placeholder: "dd/mm/yyyy", class: 'form-control' }
            .row
              .col-sm-6
                .form-group.no-margin-hr
                  = f.label :location, 'Student Region'
                  = f.input :location, as: :select, collection: study_region_options, selected: 'All', label: false, input_html: { placeholder: "dd/mm/yyyy", class: 'form-control' }
              .col-sm-6
                .form-group.no-margin-hr
                  = f.label :gender
                  = f.input :gender, as: :select, collection: %w(All Female Male), selected: 'All', label: false, input_html: { placeholder: "dd/mm/yyyy", class: 'form-control' }
            .row
              .col-sm-6
                .form-group.no-margin-hr
                  = f.label :status, 'Membership Status'
                  = f.input :status, as: :select, collection: %w(All Paid Unpaid), selected: 'All', label: false, input_html: { placeholder: "dd/mm/yyyy", class: 'form-control' }
            .row
              .col-sm-12
                .form-group.no-margin-hr
                  %button.btn.btn-primary.membership-button-save{type: "submit"} Generate Report
