.row
  .col-md-7.col-xs-12
    = render 'panel_member', member: member, universities: universities, cities: cities
  - if member.persisted?
    .col-md-5.col-xs-12
      .row
        #member-membership-panel.col-xs-12.col-sm-6.col-md-12
          = render 'panel_memberships', member: member
        #member-banking-panel.col-xs-12.col-sm-6.col-md-12
          = render 'panel_banking_details', member: member
