= simple_form_for [:admin, member], html: { id: 'form-member', multipart: true } do |f|
  .x_panel
    .x_title
      %h2 Member Details
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      - flash.each do |name, msg|
        .alert.alert-success
          = msg
      - if member.errors.any?
        - member.errors.full_messages.each do |e|
          .alert.alert-danger
            = e
      .row
        .col-xs-12
          = f.input :student_email, label: 'Student Email', input_html: { class: 'form-control' }
      .row
        .col-xs-12.col-md-6
          = f.input :first_name, label: 'First Name', input_html: { class: 'form-control' }
        .col-xs-12.col-md-6
          = f.input :last_name, label: 'Last Name', input_html: { class: 'form-control' }
        .col-xs-12.col-md-6
          = f.input :gender, as: :select, collection: %w(Female Male), selected: member.gender || 'Female', input_html: { class: 'form-control' }
        .col-xs-12.col-md-6
          = f.input :date_of_birth, as: :datepicker, label: 'Date of Birth', input_html: { class: 'form-control daterangepicker_input' }
      .row.padding-sm-vr.no-padding-b
        .col-xs-12.col-md-6
          = f.input :email, input_html: { class: 'form-control' }
        .col-xs-12.col-md-6
          = f.input :mobile_number, label: 'Cell Phone/ Mobile Number', input_html: { class: 'form-control' }
        
  .x_panel
    .x_title
      %h2 Location & University
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row
        .col-xs-12
          = f.input :university_id, as: :select, collection: universities, selected: member.university_id || universities.first, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :postal_code, label: 'Postal Code', input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :study_region, label: 'Study Region', as: :select, collection: ['Cape Town', 'Johannesburg', 'Pretoria', 'Durban', 'Port Elizabeth', 'Potchefstroom', 'Bloemfontein', 'Other'], selected: member.study_region || 'Cape Town', input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :city_id, as: :select, collection: cities, selected: member.city_id || cities.first, input_html: { class: 'form-control' }
  .x_panel
    .x_title
      %h2 Password
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row
        .col-xs-12
          = f.input :password, input_html: { class: 'form-control' }
  .x_panel
    .x_title
      %h2 Avatar
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row.input
        .col-xs-12.text-center
          = image_tag member.avatar, style: 'width: 320px'
      .row
        .col-xs-12
          = f.input :avatar, lable: 'Profile Picture', input_html: { class: 'form-control' }
          .alert.alert-info
            %button.close{'data-dismiss': 'alert', type: 'button'} &#xD7;
            %strong Heads up!
            Image/Photo dimensions should be no less than: 720px x 720px
      -# .row
      -#   .col-xs-12
      -#     .form-group.no-margin-hr.text-right
      -#       %span.text-bold * Required fields
