.x_panel
  .x_title
    %h2 Membership
    %ul.nav.navbar-right.panel_toolbox
      %li.right
        %a.collapse-link
          %i.fa.fa-chevron-up
    .clearfix
  .x_content
    - if member.membership.present?
      .comment
        .comment-actions.pull-right
          = link_to edit_admin_membership_path(member.membership), remote: true do
            %i.fa.fa-pencil 
            #{' '}Edit
        %div
          %span.text-success= member.membership.try(:club_name)
          #{' - '}
          %small.text-light-gray Referral code:
          #{' '}
          %span.text-dark-gray= member.membership.try(:referral_code)
    - else
      = link_to new_admin_membership_path, class: 'btn btn-primary btn-sm right', remote: true do
        Add membership

