.x_panel
  .x_title
    %h2 Bank Details
    %ul.nav.navbar-right.panel_toolbox
      %li.right
        %a.collapse-link
          %i.fa.fa-chevron-up
    .clearfix
  .x_content
    - if member.banking_detail.present?
      .comment-actions.pull-right
        = link_to banking_panel_admin_member_path(member), remote: true do
          %i.fa.fa-pencil
          Edit
      %ul.list-unstyled
        %li
          %span.text-bold Bank:
          = member.banking_detail.try(:bank_name)
        %li
          %span.text-bold Branch code:
          = member.banking_detail.try(:branch_code)
        %li
          %span.text-bold Account number:
          = member.banking_detail.try(:account_number)
        %li
          %span.text-bold Account Name:
          = member.banking_detail.try(:account_name)
    -else
      = link_to 'Add bank details', banking_panel_admin_member_path(member), class: 'btn btn-primary btn-sm right', remote: true

