$('#banking-detail-modal').empty();
$('#modalForm').html("#{escape_javascript(render 'admin/banking_details/modal_form', banking_detail: @banking_detail, member: @member)}");
$('#modal-banking-details').modal('show');