.page-header
  .row
    .col-xs-6.col-sm-6
      %h1
        = image_tag @member.avatar, class: 'avatar'
        #{@member.first_name} #{@member.last_name}
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to admin_memberships_path do
          #button-cancel-member.btn.btn-lg.btn-cancel
            Cancel
        %button.submit-form-button.btn.btn-primary.btn-lg{ 'data-target': 'member' } Save
= render 'admin/members/form', member: @member, universities: @universities, cities: @cities

#modalForm