#modal-banking-details.modal.fade{role: 'dialog', style: 'display: none;', tabindex: '-1'}
  = simple_form_for banking_detail, format: 'json', html: {id: 'form-banking-modal'} do |f|
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{'aria-hidden': 'true', 'data-dismiss': 'modal', type: 'button'} ×
          %span.modal-title.valign-middle Banking Details
        .modal-body
          = image_tag member.avatar, class: 'avatar'
          %span= member.name
          = f.input :member_id, as: :hidden
          .row
            .col-xs-12
              = f.input :account_name, label: "Account holder's name", input_html: { class: 'form-control' }
          .row
            .col-xs-12
              = f.input :bank_name, input_html: { class: 'form-control' }
          .row
            .col-xs-12
              = f.input :account_type, as: :select, collection: [%w(Current/Cheque 1), %w(Savings 2)], selected: banking_detail.account_type || '1', input_html: { class: 'form-control'}
          .row
            .col-xs-12
              = f.input :account_number, input_html: { class: 'form-control' }
          .row
            .col-xs-12
              = f.input :branch_code, input_html: { class: 'form-control' }
        .modal-footer
          = f.submit 'Save', class: 'btn btn-primary btn-sm'
          %button#btn-cancel-branch.btn.btn-sm.btn-cancel{'data-dismiss': 'modal'} Cancel