Hi <%= @member.first_name %>,

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><a href="<%= reset_password_url(reset_password_token: @member.reset_password_token) %>">Change my password</a></p>

<p>If you didn't request this, please ignore this email.</p>

The Varsity Vibe Team