<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width" name="viewport">
    <title><%= @subject %></title>
  </head>
  <body
    style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
    <style type="text/css">
      a:hover {
        color: #c21465 !important;
      }
      a:active {
        color: #c21465 !important;
      }
      a:visited {
        color: #D91770 !important;
      }
      h1 a:active {
        color: #D91770 !important;
      }
      h2 a:active {
        color: #D91770 !important;
      }
      h3 a:active {
        color: #D91770 !important;
      }
      h4 a:active {
        color: #D91770 !important;
      }
      h5 a:active {
        color: #D91770 !important;
      }
      h6 a:active {
        color: #D91770 !important;
      }
      h1 a:visited {
        color: #D91770 !important;
      }
      h2 a:visited {
        color: #D91770 !important;
      }
      h3 a:visited {
        color: #D91770 !important;
      }
      h4 a:visited {
        color: #D91770 !important;
      }
      h5 a:visited {
        color: #D91770 !important;
      }
      h6 a:visited {
        color: #D91770 !important;
      }
      table.button:hover td {
        background: #c21465 !important;
      }
      table.button:visited td {
        background: #c21465 !important;
      }
      table.button:active td {
        background: #c21465 !important;
      }
      table.button:hover td a {
        color: #fff !important;
      }
      table.button:visited td a {
        color: #fff !important;
      }
      table.button:active td a {
        color: #fff !important;
      }
      table.button:hover td {
        background: #c21465 !important;
      }
      table.tiny-button:hover td {
        background: #c21465 !important;
      }
      table.small-button:hover td {
        background: #c21465 !important;
      }
      table.medium-button:hover td {
        background: #c21465 !important;
      }
      table.large-button:hover td {
        background: #c21465 !important;
      }
      table.button:hover td a {
        color: #ffffff !important;
      }
      table.button:active td a {
        color: #ffffff !important;
      }
      table.button td a:visited {
        color: #ffffff !important;
      }
      table.tiny-button:hover td a {
        color: #ffffff !important;
      }
      table.tiny-button:active td a {
        color: #ffffff !important;
      }
      table.tiny-button td a:visited {
        color: #ffffff !important;
      }
      table.small-button:hover td a {
        color: #ffffff !important;
      }
      table.small-button:active td a {
        color: #ffffff !important;
      }
      table.small-button td a:visited {
        color: #ffffff !important;
      }
      table.medium-button:hover td a {
        color: #ffffff !important;
      }
      table.medium-button:active td a {
        color: #ffffff !important;
      }
      table.medium-button td a:visited {
        color: #ffffff !important;
      }
      table.large-button:hover td a {
        color: #ffffff !important;
      }
      table.large-button:active td a {
        color: #ffffff !important;
      }
      table.large-button td a:visited {
        color: #ffffff !important;
      }
      table.secondary:hover td {
        background: #d0d0d0 !important;
        color: #555;
      }
      table.secondary:hover td a {
        color: #555 !important;
      }
      table.secondary td a:visited {
        color: #555 !important;
      }
      table.secondary:active td a {
        color: #555 !important;
      }
      table.success:hover td {
        background: #457a1a !important;
      }
      table.alert:hover td {
        background: #970b0e !important;
      }
      table.facebook:hover td {
        background: #2d4473 !important;
      }
      table.twitter:hover td {
        background: #0087bb !important;
      }
      table.google-plus:hover td {
        background: #CC0000 !important;
      }
      table.facebook:hover td {
        background: #2d4473 !important;
      }
      table.twitter:hover td {
        background: #0087bb !important;
      }
      table.google-plus:hover td {
        background: #CC0000 !important;
      }
      @media only screen and (max-width: 600px) {
        table[class="body"] img {
          width: auto !important;
          height: auto !important;
        }
        table[class="body"] center {
          min-width: 0 !important;
        }
        table[class="body"] .container {
          width: 95% !important;
        }
        table[class="body"] .row {
          width: 100% !important;
          display: block !important;
        }
        table[class="body"] .wrapper {
          display: block !important;
          padding-right: 0 !important;
        }
        table[class="body"] .columns {
          table-layout: fixed !important;
          float: none !important;
          width: 100% !important;
          padding-right: 0 !important;
          padding-left: 0;
          display: block !important;
        }
        table[class="body"] .column {
          table-layout: fixed !important;
          float: none !important;
          width: 100% !important;
          padding-right: 0 !important;
          padding-left: 0;
          display: block !important;
        }
        table[class="body"] .wrapper.first .columns {
          display: table !important;
        }
        table[class="body"] .wrapper.first .column {
          display: table !important;
        }
        table[class="body"] table.columns td {
          width: 100% !important;
        }
        table[class="body"] table.column td {
          width: 100% !important;
        }
        table[class="body"] .columns td.one {
          width: 8.333333% !important;
        }
        table[class="body"] .column td.one {
          width: 8.333333% !important;
        }
        table[class="body"] .columns td.two {
          width: 16.666666% !important;
        }
        table[class="body"] .column td.two {
          width: 16.666666% !important;
        }
        table[class="body"] .columns td.three {
          width: 25% !important;
        }
        table[class="body"] .column td.three {
          width: 25% !important;
        }
        table[class="body"] .columns td.four {
          width: 33.333333% !important;
        }
        table[class="body"] .column td.four {
          width: 33.333333% !important;
        }
        table[class="body"] .columns td.five {
          width: 41.666666% !important;
        }
        table[class="body"] .column td.five {
          width: 41.666666% !important;
        }
        table[class="body"] .columns td.six {
          width: 50% !important;
        }
        table[class="body"] .column td.six {
          width: 50% !important;
        }
        table[class="body"] .columns td.seven {
          width: 58.333333% !important;
        }
        table[class="body"] .column td.seven {
          width: 58.333333% !important;
        }
        table[class="body"] .columns td.eight {
          width: 66.666666% !important;
        }
        table[class="body"] .column td.eight {
          width: 66.666666% !important;
        }
        table[class="body"] .columns td.nine {
          width: 75% !important;
        }
        table[class="body"] .column td.nine {
          width: 75% !important;
        }
        table[class="body"] .columns td.ten {
          width: 83.333333% !important;
        }
        table[class="body"] .column td.ten {
          width: 83.333333% !important;
        }
        table[class="body"] .columns td.eleven {
          width: 91.666666% !important;
        }
        table[class="body"] .column td.eleven {
          width: 91.666666% !important;
        }
        table[class="body"] .columns td.twelve {
          width: 100% !important;
        }
        table[class="body"] .column td.twelve {
          width: 100% !important;
        }
        table[class="body"] td.offset-by-one {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-two {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-three {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-four {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-five {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-six {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-seven {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-eight {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-nine {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-ten {
          padding-left: 0 !important;
        }
        table[class="body"] td.offset-by-eleven {
          padding-left: 0 !important;
        }
        table[class="body"] table.columns td.expander {
          width: 1px !important;
        }
        table[class="body"] .right-text-pad {
          padding-left: 10px !important;
        }
        table[class="body"] .text-pad-right {
          padding-left: 10px !important;
        }
        table[class="body"] .left-text-pad {
          padding-right: 10px !important;
        }
        table[class="body"] .text-pad-left {
          padding-right: 10px !important;
        }
        table[class="body"] .hide-for-small {
          display: none !important;
        }
        table[class="body"] .show-for-desktop {
          display: none !important;
        }
        table[class="body"] .show-for-small {
          display: inherit !important;
        }
        table[class="body"] .hide-for-desktop {
          display: inherit !important;
        }
        table[class="body"] .right-text-pad {
          padding-left: 10px !important;
        }
        table[class="body"] .left-text-pad {
          padding-right: 10px !important;
        }
        table[class="body"] .right-text-pad {
          padding-left: 10px !important;
        }
        table[class="body"] .left-text-pad {
          padding-right: 10px !important;
        }
      }

    </style>
    <table
      class="body"
      style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
      <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
        <td
          align="center"
          class="center"
          valign="top"
          style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
          <center style="width: 100%; min-width: 580px;">
            <table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; margin: 0 auto; padding: 0;">
              <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                <td
                  style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                  align="left"
                  valign="top">
                  <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td
                        class="wrapper last"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                              align="left"
                              valign="top">

                              <img height="326" src="<%= image_url('emails/header.png') %>" width="580" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" align="left">
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td
                        class="wrapper last"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                              align="left"
                              valign="top">
                              <h3 style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 32px; margin: 0; padding: 0;" align="left">Welcome, <%= @member.first_name %></h3>
                              <br>
                              <p class="lead" style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left">Thanks for joining the vibe! By signing up you've taken the first step towards saving yourself a ton of cash. To start redeeming simply flash your "my profile" screen at our partner stores and start saving.</p>
                              <br>
                              <p style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">Now that you're a member, it gets even better! Spread the love and make some quick easy cash.
                              </p>
                              <p style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                                We pay you R40 for every member you successfully recruit to Varsity Vibe. YES! R40 cash... in your bank account!
                              </p>
                              <h5 style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 24px; margin: 0; padding: 0;" align="left">How it works:</h5>
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td
                        class="wrapper"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 20px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;">
                          <br><br><br><br>
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              class="left-text-pad"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px 10px;"
                              align="left"
                              valign="top">
                              <b>1
                              </b>
                            </td>
                            <td
                              class="left-text-pad"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px 10px;"
                              align="left"
                              valign="top">
                              <p style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                                Open your
                                <b>VV app</b>, go to the
                                <b>menu</b>, click
                                <b>“refer friends”</b>
                              </p>
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                      <td
                        class="wrapper last"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;">
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              class="last right-text-pad"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                              align="left"
                              valign="top">
                              <img src="<%= image_url('emails/step-1.png') %>" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" align="left">
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td
                        class="wrapper"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 20px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;">
                          <br><br>
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              class="left-text-pad"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px 10px;"
                              align="left"
                              valign="top">
                              <b>2
                              </b>
                            </td>
                            <td
                              class="left-text-pad"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px 10px;"
                              align="left"
                              valign="top">
                              <p style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                                Fill in you friend's deets: Their
                                <b>name</b>
                                &amp;
                                <b>email</b>. We’ll send them an
                                <b>email</b>
                                inviting them to sign up using your
                                <b>unique referral code. OR simply send them this link:
                                  <a href="#" style="color: #D91770; text-decoration: none;"><%= url_for controller: "website", action: "join" %>?ref=<%= @member.membership(1).referral_code %></a>
                                </b>
                              </p>
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                      <td
                        class="wrapper last"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;">
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              class="last right-text-pad"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                              align="left"
                              valign="top">
                              <img src="<%= image_url('emails/step-2.png') %>" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" align="left">
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td
                        class="wrapper"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 20px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;">
                          <br><br>
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              class="left-text-pad"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px 10px;"
                              align="left"
                              valign="top">
                              <b>3
                              </b>
                            </td>
                            <td
                              class="left-text-pad"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px 10px;"
                              align="left"
                              valign="top">
                              <p style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                                Once they have successfully signed up &amp;
                                <b>paid, you’ll receive an email asking for your bank deets. Once we’ve received your bank details we'll transfer the moola! *</b>
                              </p>
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                      <td
                        class="wrapper last"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;">
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              class="last right-text-pad"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                              align="left"
                              valign="top">
                              <img src="<%= image_url('emails/step-3.png') %>" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" align="left">
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td
                        class="wrapper last"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                              align="left"
                              valign="top">
                              <p style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                                <small style="font-size: 10px;">*Remember your friend has to use your unique referral code so that the money can be paid into your bank account.</small>
                              </p>
                              <br>
                              <p style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">
                                Oh, and the best part is there is no limit of how many friends you sign up, so go nuts and make some bucks!
                              </p>
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      <td
                        class="wrapper last"
                        style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                        align="left"
                        valign="top">
                        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;">
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                              align="left"
                              valign="top">
                              <img src="<%= image_url('emails/footer.jpg') %>" width="580" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" align="left">
                            </td>
                            <td
                              class="expander"
                              style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
                              align="left"
                              valign="top"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
