.col-md-3.left_col
  .left_col.scroll-view
    .navbar.nav_title
      = link_to admin_home_path, class: 'site_title' do
        =image_tag "vvlogo.svg", class: 'site_logo'
        %span Varsity Vibe
    .profile.clearfix
      .profile_pic
        = image_tag 'admin/pixel-admin/avatar-placeholder.png', class: 'img-circle profile_img'
      .profile_info
        %span Welcome,
        %h2 Admin
    %br
    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        %h3 Information
        %ul.nav.side-menu
          %li
            %a
              %i.fa.fa-dashboard
              Dashboard
              %span.fa.fa-chevron-down
            %ul.nav.child_menu{style: 'display: none'}
              %li
                = link_to 'Dashboard', admin_home_path
          %li
            %a
              %i.fa.fa-group
              Members
              %span.fa.fa-chevron-down
            %ul.nav.child_menu{style: 'display: none'}
              %li
                = link_to 'List Members', admin_memberships_path
          %li
            %a
              %i.fa.fa-money
              Collections
              %span.fa.fa-chevron-down
            %ul.nav.child_menu{style: 'display: none'}
              %li
                = link_to 'List Collections', admin_collections_path
          %li
            %a
              %i.fa.fa-home
              Cities
              %span.fa.fa-chevron-down
            %ul.nav.child_menu{style: 'display: none'}
              %li
                = link_to 'List Cities', admin_cities_path
              %li
                = link_to 'Add City', new_admin_city_path
          %li
            %a
              %i.fa.fa-university
              Universities
              %span.fa.fa-chevron-down
            %ul.nav.child_menu{style: 'display: none'}
              %li
                = link_to 'List Universities', admin_universities_path
              %li
                = link_to 'Add University', new_admin_university_path
          %li
            %a
              %i.fa.fa-briefcase
              Merchants
              %span.fa.fa-chevron-down
            %ul.nav.child_menu{style: 'display: none'}
              %li
                = link_to 'List Merchants', admin_merchants_path
              %li
                = link_to 'Add Merchant', new_admin_merchant_path
          %li
            %a
              %i.fa.fa-tag
              Deals
              %span.fa.fa-chevron-down
            %ul.nav.child_menu{style: 'display: none'}
              %li
                = link_to 'List Deals', admin_deals_path
              %li
                = link_to 'Add Deal', new_admin_deal_path
      .menu_section
        %h3 Actions
        %ul.nav.side-menu
          %li
            = link_to admin_recon_report_path, data:{ turbolinks: false } do
              %i.fa.fa-download
              Recon Report
    .sidebar-footer.hidden-small
      = link_to destroy_user_session_path, method: :delete do
        %span.glyphicon.glyphicon-off{ 'aria-hidden': 'true' }
      -# %a{'data-placement': 'top', 'data-toggle': 'tooltip', title: 'Logout'}
