.top_nav
  .nav_menu
    %nav{ role: 'navigation' }
      .nav.toggle
        %a#menu_toggle
          %i.fa.fa-bars
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.user-profile.dropdown-toggle{'aria-expanded': 'false', 'data-toggle': 'dropdown', href: 'javascript:;'}
            = image_tag 'admin/pixel-admin/avatar-placeholder.png'
            Admin
            %span.fa.fa-angle-down
          %ul.dropdown-menu.dropdown-usermenu.pull-right
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.fa.fa-sign-out.pull-right
                Log Out
