!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge,chrome=1', 'http-equiv': 'X-UA-Compatible'}
    %title Varsity Vibe CRM
    %meta{content: 'width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0', name: 'viewport'}
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'admin', 'data-turbolinks-track': true
    = csrf_meta_tags
    / Open Sans font from Google CDN
    %link{href: '//fonts.googleapis.com/css?family=Roboto', rel: 'stylesheet', type: 'text/css'}
    %link{crossorigin: 'anonymous', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', integrity: 'sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==', rel: 'stylesheet'}
%body.nav-md
  .container.body
    .main_container
      -#- flash.each do |key, value|
      -#  #flash{align: 'center', class: 'alert alert-#{key}'}= value
      = render 'layouts/admin/sidenav'
      = render 'layouts/admin/topnav'
      .right_col{ role: 'main' }
        = yield
      -# = render 'layouts/admin/footer'

    = javascript_include_tag 'footermanifest', 'data-turbolinks-track': true