<div class="page-header border-t">

  <div class="row">
    <!-- Page header, center on small screens -->
    <h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
      <span class="text-light-gray"><i class="fa fa-upload page-header-icon"></i>&nbsp;&nbsp;Bulk Import /</span> File
      Upload</h1>
  </div>
  <!-- / .row -->

</div> <!-- / .page-header -->

<div class="row">


  <div class="col-sm-7">

    <div class="row">

      <div class="col-sm-12">
        <% if notice.present? %>
            <p id="notice"><%= notice %></p>
        <% end %>
        <% if !@importer.nil? %>
            <h2>Import complete!</h2>
            <p>Total rows processed: <%= @importer.row_processed_count %></p>
            <p>Total imported successfully: <%= @importer.row_success_count %></p>
            <p>Total errors: <%= @importer.row_error_count %></p>
        <% end %>

        <div class="panel panel-info panel-dark">
          <div class="panel-heading">
            <span class="panel-title">Select File</span>
          </div>
          <div class="panel-body">
            <p><a href="<%= url_for controller: 'admin/imports', action: 'sample' , format: 'csv' %>"><i class="fa fa-download"></i> Download the sample file</a> and compare it to your import file
              to ensure you have the correct format.</p>

            <!-- Javascript -->
            <script>
                init.push(function () {
                    $('.bulk-upload-input').pixelFileInput({placeholder: 'No file selected...'});
                })
            </script>
            <!-- / Javascript -->

            <%= form_tag admin_imports_path, multipart: true do %>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                      <label class="control-label" for="club">Club</label>
                      <%= select_tag "club_id", options_from_collection_for_select(@clubs, "id", "name"), class: 'form-control' %>
                    </div>
                  </div>
                  <!-- col-sm-6 -->
                  <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                      <label class="control-label" for="csvfile">Select a file</label>
                      <input type="file" class="bulk-upload-input" id="csvfile" name="file">
                    </div>
                  </div>
                  <!-- col-sm-6 -->
                </div>
                <!-- row -->

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                      <label class="control-label" for="club">Paid ?</label>
                      <%= select_tag 'paid', options_for_select(['No', 'Yes'], 'No'), class: 'form-control' %>
                      <p class="help-block">'Yes' will mark all rows as 'paid' and send each a 'Welcome' email.</p>

                    </div>
                  </div>
                  <!-- col-sm-6 -->
                  <div class="col-sm-6">
                    <div class="form-group no-margin-hr">
                      <label class="control-label" for="referred_by">Referred By</label>
                      <input type="text" class="form-control" id="referred_by" name="referred_by">
                      <p class="help-block">Use the referral code. Will apply referral to ALL records in this import</p>

                    </div>
                  </div>
                  <!-- col-sm-6 -->
                </div>
                <!-- row -->

                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group no-margin">
                      <button class="btn btn-primary">Upload</button>
                      <button class="btn">Cancel</button>
                    </div>
                  </div>
                  <!-- col-sm-12 -->
                </div>
                <!-- row -->

            <% end %>

          </div>
        </div>
        <!-- / .panel -->
      </div>
      <!-- / .col-sm-12 -->

    </div>
    <!-- / .row -->

  </div>
  <!-- / .col-sm-7 -->

</div><!-- / .row -->