<div class="page-header border-t">

  <div class="row">
    <!-- Page header, center on small screens -->
    <h1 class="col-xs-12 col-sm-7 text-center text-left-sm"><i class="fa fa-download page-header-icon"></i>&nbsp;&nbsp;Unprocessed Referrals</h1>

  </div> <!-- / .row -->

</div> <!-- / .page-header -->

<div class="row">


  <div class="col-lg-7 col-md-11">

    <div class="row">

      <div class="col-sm-12">

        <div class="panel panel-transparent">
          <div class="panel-body">
            <h4>There are <span class="text-bold text-info"><%= @referral_count %></span> unprocessed referrals since your last export.</h4>
            <% if @referral_count > 0 %>
                <div class="row padding-sm-vr">
                  <div class="col-sm-12">
                    <div class="form-group no-margin">
                      <%= link_to "Export Now", { controller: 'admin/exports', action: 'referrals', format: 'csv'}, class: 'btn btn-primary' %>
                    </div>
                  </div><!-- col-sm-12 -->
                </div><!-- row -->
            <% end %>
          </div>
        </div> <!-- / .panel -->

        <% if @exports.present? %>
        <div class="panel widget-tasks panel-dark-gray">
          <div class="panel-heading">
            <span class="panel-title">Previous Exports</span>
          </div>
          <div class="panel-body no-padding-vr">

            <% @exports.each do |export| %>
            <div class="task">
              <%= link_to "Download", { controller: 'admin/exports', action: 'download', id: export.id, format: 'csv' }, class: 'label label-info pull-right' %>
              <span class="task-title"><%= format_datetime_for_list export.created_at %></span>
            </div> <!-- / .task -->
            <% end %>

          </div> <!-- / .panel-body -->
        </div> <!-- / .panel -->
        <% end %>
      </div><!-- / .col-sm-12 -->

    </div><!-- / .row -->

  </div><!-- / .col-sm-7 -->

</div><!-- / .row -->
