"ID","First Name","Surname","Email","Cell","Bank Name","Account Name","Account Number","Account Type","Branch Code","Amount"
<% @referrals.each do |ref| %>
"<%= ref.member.id_number.to_s.html_safe %>","<%= ref.member.first_name.to_s.html_safe %>","<%= ref.member.last_name.to_s.html_safe %>","<%= ref.member.email.to_s.html_safe %>","<%= ref.member.mobile_number.to_s.html_safe %>","<%= ref.member.banking_detail.bank_name.to_s.html_safe %>","<%= ref.member.banking_detail.account_name.to_s.html_safe %>","<%= ref.member.banking_detail.account_number.to_s.html_safe %>","<%= ref.member.banking_detail.account_type.to_s.html_safe %>","<%= ref.member.banking_detail.branch_code.to_s.html_safe %>","<%= calculate_amount_owing(ref, @counts) %>"
<% end %>