.x_panel
  .x_title
    %h2 Branches
    %ul.nav.navbar-right.panel_toolbox
      %li.right
        %a.collapse-link
          %i.fa.fa-chevron-up
    .clearfix
  .x_content
    %table.table.table-hover
      %thead
        %tr
          %td Name
          %td City
          %td.text-right Action
      %tbody
        - merchant.branches.each do |branch|
          %tr
            %td
              = link_to edit_admin_merchant_branch_path(merchant, branch), remote: true do
                = branch.name
            %td= branch.city.try(:name)
            %td.last.text-right{width: '100'}
              .btn-group
                = link_to edit_admin_merchant_branch_path(merchant, branch), remote: true, class: 'btn btn-default btn-xs' do
                  %i.fa.fa.fa-pencil
                = link_to admin_branch_path(branch), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                  %i.fa.fa-times
    = link_to 'Add Branch', new_admin_merchant_branch_path(merchant), class: 'btn btn-primary btn-sm right', remote: true
