= simple_form_for [:admin, merchant], html: { id: 'form-merchant' } do |f|
  = f.input :enabled, as: :hidden, input_html: { value: true }
  .x_panel
    .x_title
      %h2 Merchant Details
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      - flash.each do |name, msg|
        .alert.alert-success
          = msg
      - if merchant.errors.any?
        - merchant.errors.full_messages.each do |e|
          .alert.alert-danger
            = e
      .row
        .col-xs-12
          = f.input :name, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :deal_description, label: 'Slogan/Blurb', input_html: { class: 'form-control' }
      .row
        .col-xs-12.col-sm-6
          = f.input :phone, input_html: { class: 'form-control' }
        .col-xs-12.col-sm-6
          = f.input :email, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :url, label: 'URL', input_html: { class: 'form-control' }
          .alert.alert-info
            %button.close{'data-dismiss': 'alert', type: 'button'} &#xD7;
            %strong Heads up!
            Remember to add
            %strong http://
            to all URL's
      .row
        .col-xs-12
          = f.input :merchant_type, label: 'Type', input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :terms, label: 'Terms & Conditions', input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :how_to_redeem, label: 'How to Redeem In Store', input_html: { class: 'form-control' }
  .x_panel
    .x_title
      %h2 Merchant Logo
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row
        .col-sm-12.text-center.input
          = image_tag merchant.logo
        .col-sm-12
          = f.input :logo, label: 'Logo (450x450 - png or jpg)', accept: 'image/png,image/jpeg'
