.page-header
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-briefcase.page-header-icon
        #{@merchant.name}
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to admin_merchants_path do
          #button-cancel-merchant.btn.btn-lg.btn-cancel
            Cancel
        %button.submit-form-button.btn.btn-primary.btn-lg{ 'data-target': 'merchant' } Save
.row
  .col-xs-12.col-md-7
    = render 'form', merchant: @merchant
  .col-xs-12.col-md-5
    = render 'branches', merchant: @merchant

#modalForm
%script{:src => "//maps.google.com/maps/api/js?lsensor=false&libraries=geometry&anguage=en&key=AIzaSyD3s9MZciVozRJbIj2-r52_H1a3DFw6EFY"}
%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
