.page-header.border-t
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-briefcase.page-header-icon
        Merchants
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to admin_merchants_path(:csv), class: 'btn btn-default  btn-lg' do
          Download Merchants
        = link_to new_admin_merchant_path, class: 'btn btn-primary  btn-lg' do
          Add Merchant
.row
  .col-sm-12
    .table-responsive
      %table.table.table-striped.jambo_table.bulk_action
        %thead
          %tr.headings
            %th{colspan: '14'}
              .row
                .col-sm-offset-4.col-xs-4.col-sm-3.text-right
                  = render 'admin/dashboards/per_page'
                .col-xs-8.col-sm-5
                  = render 'admin/dashboards/search_form', target: 'merchants', query: params[:query], attr: 'name'
          %tr.headings
            %th.column-title
              Merchant
              = render 'admin/dashboards/column_sorting', model: Merchant, column: :name
            %th.column-title
              Type
              = render 'admin/dashboards/column_sorting', model: Merchant, column: :merchant_type
            %th.column-title
              Phone
              = render 'admin/dashboards/column_sorting', model: Merchant, column: :phone
            %th.column-title
              Email
              = render 'admin/dashboards/column_sorting', model: Merchant, column: :email
            %th.column-title.no-link.last
              %span.nobr Action
        - if @merchants.present?
          %tbody
            - @merchants.each do |merchant|
              %tr
                %td.a-center
                  = link_to edit_admin_merchant_path(merchant) do
                    = merchant.name
                %td= merchant.merchant_type || 'Unknown'
                %td= merchant.phone? ? merchant.phone : 'Unknown'
                %td.a-right.a-right= merchant.email || 'Unknown'
                %td.last{width: '100'}
                  .btn-group
                    = link_to edit_admin_merchant_path(merchant), class: 'btn btn-xs btn-default' do
                      %i.fa.fa.fa-pencil
                    = link_to admin_merchant_path(merchant), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do
                      %i.fa.fa-trash
        - else
          %tbody
            %tr.even.pointer
              %td{colspan: '14'}
                No merchants to display

= paginate @merchants
