<%- headers = ['Name',
               'Slogan',
               'Phone',
               'Email',
               'URL',
               'Type',
               'T&Cs',
               'Name',
               'City',
               'Email',
               'Phone',
               'Address',
               'Longtitude',
               'Latitude',
               'Title',
               'Recomende',
               'Online?',
               'Instore?',
               'Published?',
               'Expration',
               'Blurb',
               'Deal Details',
               'Notes',
               'T&Cs',
               'URL',
               'Twitter',
               'Facebook',
               'Instagram',
               'Pinterest',
               'SEO Focus Keywords',
               'SEO Description',
               'Ordeing Weight'] -%>
<%- blank_merchant = Array.new(7){ |index| " "} -%>
<%- blank_branch = Array.new(7){ |index| " "} -%>
<%- blank_deal = Array.new(18){ |index| " "} -%>

<%= CSV.generate_line headers %>
<%- @merchants.each_with_index do |merchant, m_index| -%>
    <%- merchant_line = [clear_str(merchant.name),
                         merchant.deal_description? ? clear_str(merchant.deal_description) : 'Unknown',
                         merchant.phone? ? clear_str(merchant.phone) : 'Unknown',
                         merchant.email? ? clear_str(merchant.email) : 'Unknown',
                         merchant.url? ? clear_str(merchant.url) : 'Unknown',
                         merchant.merchant_type? ? clear_str(merchant.merchant_type) : 'Unknown',
                         merchant.terms? ? clear_str(merchant.terms) : 'Unknown']  -%>
    <% @branches = merchant.branches -%>
    <%- @branches.each_with_index do |branch, b_index| -%>
        <%- branch_line = [clear_str(branch.name),
                           clear_str(branch.city_name),
                           branch.email? ? clear_str(branch.email) : 'Unknown',
                           clear_str(branch.phone),
                           clear_str(branch.address),
                           branch.lng.to_s,
                           branch.lat.to_s] -%>
        <%- @deals = branch.deals -%>
        <%- if @deals.count == 0 -%>
            <%- line = (b_index == 0 ? merchant_line : blank_merchant) + branch_line + blank_deal -%>
            <%= CSV.generate_line(line) %>
        <%- else -%>
            <%- @deals.each_with_index do |deal, d_index| -%>
                <%- deal_line = [clear_str(deal.title),
                                 deal.recommended,
                                 deal.online,
                                 deal.in_store,
                                 deal.published,
                                 deal.premium,
                                 deal.blurb? ? clear_str(deal.blurb) : 'Unknown',
                                 deal.deal? ? clear_str(deal.deal) : 'Unknown',
                                 deal.note? ? clear_str(deal.note) : 'Unknown',
                                 deal.terms? ? clear_str(deal.terms) : 'Unknown',
                                 deal.url? ? deal.url : 'Unknown',
                                 deal.twitter? ? deal.twitter : 'Unknown',
                                 deal.facebook? ? deal.facebook : 'Unknown',
                                 deal.instagram? ? deal.instagram : 'Unknown',
                                 deal.pinterest? ? deal.pinterest : 'Unknown',
                                 deal.seo_keyword? ? clear_str(deal.seo_keyword) : 'Unknown',
                                 deal.seo_description? ? clear_str(deal.seo_description) : 'Unknown',
                                 deal.ordering,] -%>
                <%- line = (b_index == 0 && d_index == 0 ? merchant_line : blank_merchant) + (d_index == 0 ? branch_line : blank_branch) + deal_line -%>
                <%= CSV.generate_line(line) %>
            <%- end -%>
        <%- end -%>
    <%- end -%>
<%- end -%>
