.page-header
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-briefcase.page-header-icon
        New Merchant
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to admin_merchants_path do
          #button-cancel-merchant.btn.btn-lg.btn-cancel
            Cancel
        %button.submit-form-button.btn.btn-primary.btn-lg{ 'data-target': 'merchant' } Save
.row
  .col-xs-12.col-md-7
    = render 'form', merchant: @merchant
