%p#notice= notice
asdasd
%p
  %strong Name:
  = @merchant.name
%p
  %strong Merchant type:
  = @merchant.merchant_type
%p
  %strong Deal description:
  = @merchant.deal_description
%p
  %strong Logo:
  = @merchant.logo
%p
  %strong Discount:
  = @merchant.discount
%p
  %strong Phone:
  = @merchant.phone
%p
  %strong Email:
  = @merchant.email
%p
  %strong Operating hours:
  = @merchant.operating_hours
= link_to 'Edit', edit_merchant_path(@merchant)
|
= link_to 'Back', merchants_path
