#modal-payment-details.modal.fade{role: 'dialog', style: 'display: none;', tabindex: '-1'}
  = simple_form_for payment, format: 'json', html: { id: 'form-payment-modal' } do |f|
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{'aria-hidden': 'true', 'data-dismiss': 'modal', type: 'button'} ×
          %span.modal-title.valign-middle Payment Details
        .modal-body
          = image_tag membership.member_avatar, class: 'avatar'
          %span.valign-middle.text-bold.modal-label= membership.member.name
          = f.input :membership_id, as: :hidden
          .row
            .col-sm-12
              = f.input :date_paid, as: :datepicker, label: 'Payment Date', input_html: { class: 'form-control' }
          .row
            .col-sm-12
              = f.input :payment_source, label: 'Payment Method', as: :select, collection: %w(Cash EFT PayFast), selected: payment.payment_source || 'Cash', input_html: { class: 'form-control' }
          .row
            .col-sm-12
              .form-group.no-margin-hr
                %label.control-label{for: 'referenceno'}
                  Reference#
                  %span.text-light-gray (optional)
                = f.input :reference_number, label: false, input_html: { class: 'form-control' }
          .row
            .col-sm-12
              .form-group.no-margin-hr
                %label.control-label{for: 'paymentnotes'}
                  Notes
                  %span.text-light-gray (optional)
                = f.input :notes, label: false, input_html: { class: 'form-control' , rows: '3' }
        .modal-footer
          = f.submit 'Save', class: 'btn btn-primary btn-sm'
          %button#btn-cancel-branch.btn.btn-sm.btn-cancel{'data-dismiss': 'modal'} Cancel

