#modal-new-branch.modal.fade.bs-example-modal-lg{ 'aria-hidden': 'true', role: 'dialog', style: 'display: none;', tabindex: '-1' }
  = simple_form_for [:admin, branch], html: { id: 'form-branch' } do |f|
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{ 'aria-hidden': 'true', 'data-dismiss': 'modal', type: 'button' } ×
          %h4.modal-title= branch.persisted? ? 'Edit branch' : 'Add a new branch'
        .modal-body
          .row
            .col-xs-12
              = f.input :merchant_id, as: :hidden
              .row
                .col-xs-12
                  = f.input :name, input_html: { class: 'form-control' }
                .col-xs-12
                  = f.input :city_id, as: :select, collection: cities, input_html: { class: 'form-control' }
                .col-xs-12
                  = f.input :email, label: 'Email Address', input_html: { class: 'form-control' }
                .col-xs-12
                  = f.input :phone, label: 'Phone Number', input_html: { class: 'form-control' }
                .col-xs-12
                  = f.input :lat, label: 'Latitude', input_html: { class: 'form-control' }
                .col-xs-12
                  = f.input :lng, label: 'Longitude', input_html: { class: 'form-control' }
                .col-xs-12
                  = f.input :address, input_html: { class: 'form-control' }
            .col-xs-12
              %hr
              #map-input.location-selector.widget-maps
              -##map{ style: 'height: 400px;' }
        .modal-footer
          = f.submit 'Save', class: 'btn btn-primary btn-lg'
          %button#btn-cancel-branch.btn.btn-lg.btn-cancel{'data-dismiss': 'modal'} Cancel

-#
-#:javascript
-#
-#  function api_request(url, type, data, callback, error) {
-#    $.ajax({
-#      type:  type,
-#      url:   url,
-#      data:  data,
-#      error: function(xhr, opt, err) {
-#       if (error && typeof(error) === "function") {
-#         loadError(xhr, opt, err);
-#       } else {
-#         loadError(xhr.statusText);
-#       }
-#      },
-#      success: function(resp) {
-#       if (callback && typeof(callback) === "function") {
-#          callback(resp);
-#       }
-#      },
-#      timeout: 10000
-#    });
-#  }
-#
-#  var typewatch = (function(){
-#   var timer = 0;
-#   return function(callback, ms){
-#     clearTimeout (timer);
-#     timer = setTimeout(callback, ms);
-#   };
-#  })();
-#
-#    $(document).ready(function(){
-#      if ($('.location-selector').length > 0) {
-#        var map;
-#        var markersArray = [];
-#
-#        // init map
-#        function initMap() {
-#          var currentLat = -33.9253;
-#          var currentLng = 18.4239;
-#          var branchLocation = {lat: currentLat, lng: currentLng};
-#
-#          // set map center
-#          if ($('#branchlat').val().length > 0) {
-#            currentLat = Number($('#branchlat').val());
-#            currentLng = Number($('#branchlng').val());
-#            branchLocation = {lat: currentLat, lng: currentLng};
-#          }
-#
-#          // Build map
-#          var map = new google.maps.Map(document.getElementById('map-input'), {
-#            zoom: 6,
-#            center: branchLocation,
-#            disableDoubleClickZoom: true
-#          });
-#
-#
-#          var marker = new google.maps.Marker({
-#            position: {lat: currentLat, lng: currentLng},
-#            map: map,
-#            title: "Branch location"
-#          });
-#
-#          if (!$('#branchlat').val().length > 0) {
-#            $('#branchlat').val(currentLat);
-#            $('#branchlng').val(currentLng);
-#          }
-#
-#          // Change location on click
-#          google.maps.event.addListener(map, "dblclick", function(event) {
-#            var latVar        = event.latLng.lat();
-#            var lngVar        = event.latLng.lng();
-#
-#            // populate inputs
-#            $('#branchlat').val(latVar);
-#            $('#branchlng').val(lngVar);
-#
-#            // change marker pin location
-#            var latlng = new google.maps.LatLng(latVar, lngVar);
-#            marker.setPosition(latlng);
-#          });
-#
-#          var idleListener = google.maps.event.addListener(map, 'idle', function() { //important for full map shown
-#            google.maps.event.trigger(map, 'resize');
-#            // google.maps.event.removeListener(idleListener);
-#          });
-#
-#          var hoverListener = google.maps.event.addListener(map, 'mousemove', function() {
-#            google.maps.event.trigger(map, 'resize');
-#            // google.maps.event.removeListener(hoverListener);
-#          });
-#
-#          // auto place marker
-#          $(document).on('keyup', '#branch_address', function(event) {
-#
-#            google.maps.event.trigger(map, 'mousemove');
-#            //console.log('adding address');
-#
-#        		typewatch(function () {
-#        			api_request('https://maps.googleapis.com/maps/api/geocode/json?address=' + $('#branch_address').val(), 'get', {}, function(data) {
-#
-#                var latVar        = data.results[0].geometry.location.lat;
-#                var lngVar        = data.results[0].geometry.location.lng;
-#
-#                // populate inputs
-#                $('#branchlat').val(latVar);
-#                $('#branchlng').val(lngVar);
-#
-#                var center = new google.maps.LatLng(latVar, lngVar);
-#                // using global variable:
-#                map.panTo(center);
-#
-#                // change marker pin location
-#                var latlng = new google.maps.LatLng(latVar, lngVar);
-#                marker.setPosition(latlng);
-#        			});
-#        	  }, 1500);
-#        	});
-#        }
-#        initMap();
-#      }
-#    })
