$('#modalForm').empty();
$('#modalForm').html("#{escape_javascript(render 'admin/branches/modal_form', cities: @cities, branch: @branch )}");
window.gmap.init_map();
$('#modal-new-branch').modal('show');
