/*
 * General styles
 *
 */

// Vars
$vvgrey: #EAEAEC;
$vvblack: #0A0A0A;
$vvpink: #DB0070;
$vvtextgrey: #898994;

$light-grey-text: #9F9FA8;

// Hide turbolinks progress bar, using pace
.turbolinks-progress-bar{
  display: none !important;
}

// Auth/Sign in page
.auth{
  &-page{
    background-color: $vvgrey;
  }
    &-logo{
      margin-top: 15vh;
      margin-bottom: 5vh;
    }
    &-panel{
      margin-top: 10vh;
    }
}
.page{
  &-header{
    margin: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px + 9px;
    margin-bottom: 20px;
    // padding-bottom: 0;
    background-color: #fcfcfc;
    &-icon{
      margin-right: 15px;
      // color: #D9DEE4;
    }
    h1{
      color: $vvtextgrey;
    }
    .avatar{
      width: 42px;
      height: 42px;
      border-radius: 100px;
      margin-right: 15px;
    }
    .btn{
      margin-bottom: 0;
    }
  }
}
// Dash title
.toggle{
  a{
    color: $light-grey-text;
  }

  &:hover{
    a{
      color: $vvgrey;
    }
  }
}
.nav_menu{
  background-color: $vvblack;
  background-image: linear-gradient($vvblack, lighten($vvblack, 5%));
}
.nav_title{
  background-color: $vvblack;
  background-image: linear-gradient($vvblack, lighten($vvblack, 5%));
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: $light-grey-text;
}
.site_logo{
  width: 42px;
}

// Toggled nav
.nav-sm{
  .main_menu_side{
    margin-top: 50px;
  }
  ul.nav.child_menu{
    width: 110px;
  }
}

//  Content section
 .right_col{
   overflow-x: hidden;
   min-height: 100vh;
 }

// Input sections
.input{
  margin-bottom: 20px;
}

// Panels
.x_panel{
  margin-bottom: 20px;
}

// Alerts
.alert{
  position: relative;

  strong{
    margin-right: 5px;
    margin-left: 5px;

    &:first-of-type{
      margin-left: 0;
    }
  }

  .close{
    color: inherit;
    position: absolute;
    margin: 0;
    right: 8px;
    top: 3px;
  }
}

// Pagination
.pagination{
  display: block;
  margin-bottom: 0;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  // padding-bottom: 0;
  background-color: #fcfcfc;
  border-top: 1px solid #eeeeee;

  span{
    background-color: white;
    border: 1px solid #eee;
    border-radius: 2px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    &:hover{
      border-color: #2A3F54;
    }
  }
  a{
    display: inline-block;
    padding: (20px/2.5) (20px/1.42);
    color: #73879C;
    &:hover{
      color: #2A3F54;
    }
  }
  .current, .gap{
    padding: (20px/2.5) (20px/1.42);
  }
  .current{
    border-color: #2A3F54;
    color: #2A3F54;
  }
}
