.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round + label {
    padding: 2px;
    width: 100%;
    height: 22px;
    background-color: #dddddd;
    border-radius: 30px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 30px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 49%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 50%;
}

.switch-sm {
    width: 40px;
}

/*Other */

.right{
    float: right !important;
}

/*.modal-footer .btn {
    margin-bottom: 0;
}*/

@media only screen and (max-width:992px){
    footer {
        margin-left: 0;
    }
}

.location-selector{
    display: inline-block;
    height: 300px;
    width: 100%;
    /*max-width: 400px;*/
    /*margin-bottom: 5px;*/
}
.location-selector:after{
    content: "Double click to set location";
    position: absolute;
    top: 5px;
    right: 35%;
    border: 1px solid #C0BEBC;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    font-size: 12px;
    line-height: 1em;
    padding: 3px;
    color: #000000;
    background-color: #ffffff;
}