/*
 * Data table styles.
 *
 */

.table{
  // min-width: 900px;
  thead{
    select{
      height: 34px;
      border-color: rgba(0,0,0,0.2);
    }
    .btn-group{
      margin-right: 10px;

      &:last-child{
        margin-right: 0;
      }
    }
  }
  .form-control{
    border-color: rgba(0,0,0,0.2);
  }
  > thead > tr > th{
    // border-color: rgba(0,0,0,0.1);
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &-nav{
    span{
      margin-right: 5px;
    }
  }
  .avatar{
    margin-right: 5px;
  }
  tbody{
    .fa{
      margin-right: 3px;
    }
  }
}

/*
 * Table sizes
 */

 .table{
   &-1100{
     min-width: 1180px;
   }
   &-1700{
     min-width: 1700px;
   }
 }

/*
 * Sorting
 */
.sort{
  // position: relative;
  margin-left: 5px;
  // display: inline-block;
  
  // a{
  //   width: 10px;
  //   height: 10px;
  //   &:before{
  //     position: absolute;
  //   }

  //   &:hover{
  //     color: #ffffff;
  //   }
  // }
}


.table-nav select, .table-nav input {
    color: black;
    font-weight: 400;
}

.search-form-control {
    padding-top: 0;
    padding-bottom: 0;
}

.search-input-group {
    margin-bottom: 0;
}

.search-input {
    padding: 0;
    border: 0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-weight: 400;
}

/*
 * row controls highlight
 */
tbody{
   .switch{
      opacity: 0.4;
      label:after{
          opacity: 0;
        }
    }
    .btn-group{
      opacity: 0.6;
    }

 tr{
   &:hover{
     .switch{
       opacity: 1;
       label:after{
          opacity: 1;
        }
     }
      .btn-group{
        opacity: 1;
      }
   }
 }
}
