= simple_form_for [:admin, city], html: { id: 'form-city' } do |f|
  .x_panel
    .x_title
      %h2 City Details
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      - flash.each do |name, msg|
        .alert.alert-success
          = msg
      - if city.errors.any?
        - city.errors.full_messages.each do |e|
          .alert.alert-danger
            = e
      .row
        .col-xs-12
          = f.input :name, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.label :status
          = check_box_tag :false_status, false, true, class: 'cmn-toggle cmn-toggle-round', name: 'city[status]'
          .switch.switch-sm
            = check_box_tag :status, true, city.status, class: 'cmn-toggle cmn-toggle-round', name: 'city[status]'
            %label{ for: 'status' }
