.page-header.border-t
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-home.page-header-icon
        Cities
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to new_admin_city_path, class: 'btn btn-primary btn-lg right' do
          Add City
.row
  .col-xs-12
    .table-responsive
      %table.table.table-striped.jambo_table.bulk_action
        %thead
          %tr.headings
            %th{colspan: '14'}
              .row
                .col-sm-offset-4.col-xs-4.col-sm-3.text-right
                  = render 'admin/dashboards/per_page'
                .col-xs-8.col-sm-5
                  = render 'admin/dashboards/search_form', target: 'cities', query: params[:query]
          %tr.headings
            %th.column-title
              Name
              = render 'admin/dashboards/column_sorting', model: City, column: :name
            %th.column-title
              Status
              = render 'admin/dashboards/column_sorting', model: City, column: :status
            %th.column-title.no-link.last
              %span.nobr Action
        - if @cities.present?
          %tbody
            - @cities.each do |city|
              %tr.even.pointer
                %td
                  = link_to edit_admin_city_path(city), class: '' do
                    = city.name
                %td
                  = city.status ? 'Enabled' : 'Disabled'
                %td.last{width: '100'}
                  .btn-group
                    = link_to edit_admin_city_path(city), class: 'btn btn-xs btn-default' do
                      %i.fa.fa.fa-pencil
                    = link_to admin_city_path(city), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do
                      %i.fa.fa-trash

        - else
          %tbody
            %tr.even.pointer
              %td{colspan: '14'}
                No cities to display
= paginate @cities
