.page-header
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-home.page-header-icon
        New City
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to 'Cancel', admin_cities_path, class: 'btn btn-lg btn-cancel', id: 'button-cancel-city'
        %button.submit-form-button.btn.btn-primary.btn-lg{ 'data-target': 'city' } Save
.row
  .col-xs-12.col-md-7
    = render 'form', city: @city

