.row
  .col-xs-10.col-xs-offset-1.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6.col-lg-offset-4.col-lg-4
    %div.text-center
      = link_to admin_home_path, class: '' do
        =image_tag "vvlogo.svg", class: 'auth-logo'
    .x_panel.auth-panel
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .x_title
          %h2 Sign in to your account
          .clearfix
        .x_content
          - if notice
            %p.alert.alert-success= notice
          - if alert
            %p.alert.alert-danger= alert
          .form-group
            = f.email_field :email, autofocus: true, class: 'form-control input-lg', placeholder: 'Email Address'
          .form-group.signin-password
            = f.password_field :password, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Password'
          .form-actions
            = f.submit "Log in", class: 'btn btn-primary btn-block btn-lg'
