.page-header
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-money.page-header-icon
        Collections   
.row
  .col-xs-12
    .table-responsive
      %table.table.table-striped.jambo_table.bulk_action
        %thead
          %tr.headings
            %th{colspan: '14'}
              .row
                .col-sm-offset-4.col-xs-4.col-sm-3.text-right
                  = render 'admin/dashboards/per_page'
                .col-xs-8.col-sm-5
                  = render 'admin/dashboards/search_form', target: 'collections', query: params[:query], attr: 'name'
          %tr.headings
            %th.column-title
              Vibe Agent
              = render 'admin/dashboards/column_sorting', model: Collection, column: :name_of_agent
            %th.column-title
              Member
              = render 'admin/dashboards/column_sorting', model: Collection, column: :name_of_member
            %th.column-title
              Reference
              = render 'admin/dashboards/column_sorting', model: Collection, column: :referral_code
            %th.column-title
              Date
              = render 'admin/dashboards/column_sorting', model: Collection, column: :created_at
        - if @collections.present?
          %tbody
            - @collections.each do |col|
              %tr.even.pointer
                %td= col.agent ? col.agent.name : 'n/a'
                %td= col.member ? col.member.name : 'n/a'
                %td= col.member ? col.member.membership.referral_code : 'n/a'
                %td= col.created_at.strftime('%e %b %Y @ %H:%M %P')
        - else
          %tbody
            %tr.even.pointer
              %td{colspan: '14'}
                No collections to display
= paginate @collections
