<%
  headers = [
    'ID',
    'Date Joined',
    'Referral Code',
    'Referred By',
    'Verified',
    'Paid',
    'Date Paid',
    'Payment Method',
    'Payment Notes',
    'First Name',
    'Surname',
    'Email',
    'Cell',
    'Student No',
    'University',
    'Student Email',
    'Referrals Made',
    'Paid Referrals',
    # 'Processed for Referrals',
    'Date of Birth',
    'Gender',
    'Study Region',
    'Bank Name',
    'Account Name',
    'Account Number',
    'Account Type',
    'Branch Code'
  ]
%>
<%= CSV.generate_line headers %>
<% @members.each do |member| %>
  <%=
    membership = member.membership

    payment = nil

    membership_details = {
      :referral_code => nil,
      :referred_by => nil,
      :paid => nil,
      :processed => nil
    }

    referrals_made = 0
    paid_referrals = 0

    if membership.present?
      payment = membership.payment

      membership_details[:referral_code] = membership.referral_code
      membership_details[:referred_by] = nil

      if !membership.referred_by.nil?
        referred_by_membership = Membership.where(id: membership.referred_by).first

        if referred_by_membership.present?
          membership_details[:referred_by] = referred_by_membership.member_id
        end
      end

      referrals_made = Membership.where(:referred_by => membership.id).count.to_s
      paid_referrals = Membership.where(:referred_by => membership.id, :paid => true).count.to_s

      membership_details[:paid] = (membership.paid) ? true : false
      membership_details[:processed] = (membership.processed_for_referral) ? true : false
    end

    university = member.university
    banking = member.banking_detail

    pay_details = {
      :date_paid => nil,
      :pay_method => nil,
      :pay_note => nil
    }

    banking_details = {
      :name => nil,
      :account => nil,
      :number => nil,
      :type => nil,
      :branch => nil
    }

    uni_details = {
      :name => nil,
    }

    if university.present?
      uni_details[:name] = university.name
    end

    if payment.present?
      pay_details[:date_paid] = payment.date_paid
      pay_details[:pay_method] = payment.payment_source
      pay_details[:pay_note] = payment.notes
    end

    if banking.present?
      banking_details[:name] = banking.bank_name
      banking_details[:account] = banking.account_name
      banking_details[:number] = banking.account_number
      banking_details[:type] = banking.account_type
      banking_details[:branch] = banking.branch_code
    end

    CSV.generate_line([
      member.id,
      member.created_at,
      membership_details[:referral_code],
      membership_details[:referred_by],
      member.verified,
      membership_details[:paid],
      pay_details[:date_paid],
      pay_details[:pay_method],
      pay_details[:pay_note],
      member.first_name,
      member.last_name,
      member.email,
      member.mobile_number,
      member.student_number,
      uni_details[:name],
      member.student_email,
      referrals_made,
      paid_referrals,
      # membership_details[:processed],
      member.date_of_birth,
      member.gender,
      member.study_region,
      banking_details[:name],
      banking_details[:account],
      banking_details[:number],
      banking_details[:type],
      banking_details[:branch]
    ])
  %>
<% end %>
