- null_last ||= nil
%span.sort
  -if params[:order].blank? || params[:order][:column] != column.to_s || params[:order][:index] != 'asc'
    = link_to '', index_search_sort_status_path(params, model.table_name, column, null_last), class: 'fa fa-sort-up'
  -if params[:order].blank? || params[:order][:column] != column.to_s || params[:order][:index] != 'desc'
    = link_to '', index_search_sort_status_path(params, model.table_name, column, null_last, 'desc'), class: 'fa fa-sort-down'