- placeholder = "Search #{target.capitalize}"
= simple_form_for 'query', url: send("admin_#{target}_path"), method: :get do |f|
  = f.input :per_page, as: :hidden, input_html: { value: params[:per_page] }
  = f.input :page, as: :hidden, input_html: { value: params[:page] }
  .input-group.search-input-group
    .form-control.search-form-control
      = f.input :q, placeholder: placeholder, required: false, hint: false, label: false, input_html: { value: query ? query[:q] : nil,  type: 'search',  class: 'search-input' }
    %span.input-group-btn
      = f.submit 'Search', class: 'btn btn-default'
