.page-header
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-dashboard.page-header-icon
        Dashboard
.row
  .col-xs-12.col-md-6.col-lg-4
    .x_panel
      .x_title
        %h2 Signups
        %ul.nav.navbar-right.panel_toolbox
          %li.right
            %a.collapse-link
              %i.fa.fa-chevron-up
        .clearfix
      .x_content
        .row.stat-counters.bordered.text-center
          .col-xs-4
            %span.badge.bg-info
              %strong= @signups[:today]
            %br
            %span.text-muted TODAY
          .col-xs-4
            %span.badge.bg-info
              %strong= @signups[:this_week]
            %br
            %span.text-muted THIS WEEK
          .col-xs-4
            %span.badge.bg-info
              %strong= @signups[:this_month]
            %br
            %span.text-muted THIS MONTH

  .col-xs-12.col-md-6.col-lg-4
    .x_panel
      .x_title
        %h2 Referrals
        %ul.nav.navbar-right.panel_toolbox
          %li.right
            %a.collapse-link
              %i.fa.fa-chevron-up
        .clearfix
      .x_content
        .row.stat-counters.bordered.no-border-t.text-center
          .col-xs-4
            %span.badge.bg-light-green
              %strong= @referrals[:today]
            %br
            %span.text-muted TODAY
          .col-xs-4
            %span.badge.bg-light-green
              %strong= @referrals[:this_week]
            %br
            %span.text-muted THIS WEEK
          .col-xs-4
            %span.badge.bg-light-green
              %strong= @referrals[:this_month]
            %br
            %span.text-muted THIS MONTH

  .col-xs-12.col-md-6.col-lg-4
    .x_panel
      .x_title
        %h2 Demographic
        %ul.nav.navbar-right.panel_toolbox
          %li.right
            %a.collapse-link
              %i.fa.fa-chevron-up
        .clearfix
      .x_content
        .stat-counters.bordered.no-border-t.text-center.row
          .col-xs-6
            %span.badge.bg-pa-purple
              %strong= @demographic[:male]
            %br
            %span.text-muted MALE
          .col-xs-6
            %span.badge.bg-pa-purple
              %strong= @demographic[:female]
            %br
            %span.text-muted FEMALE

.row
  .col-xs-12.col-md-6.col-lg-4
    .x_panel
      .x_title
        %h2 Geographic
        %ul.nav.navbar-right.panel_toolbox
          %li.right
            %a.collapse-link
              %i.fa.fa-chevron-up
        .clearfix
      .x_content
        - if @geographic.present?
          - @geographic.each do |region|
            .comment
              %div
                %p
                  %span.text-warning.text-bold= region.study_region
                  &nbsp;
                  %span.text-muted Signups in
                  &nbsp;
                  %span.text-warning= region.members_count
        - else
          .comment
            %div
              %p
                %span.text-muted Nothing to display

  .col-xs-12.col-md-6.col-lg-5
    .x_panel
      .x_title
        %h2 Top Referrers
        %ul.nav.navbar-right.panel_toolbox
          %li.right
            %a.collapse-link
              %i.fa.fa-chevron-up
        .clearfix
      .x_content
        - if @geographic.present?
          - @top_referrals.each do |ref|
            .comment
              %div
                %p
                  %span.text-info.text-bold= ref.num_referrals
                  &nbsp;
                  %span.text-muted Referrals by #{link_to ref.member.name, edit_admin_member_path(ref.member)} member code
                  &nbsp;
                  %span.text-dark-gray= ref.referral_code
        - else
          .comment
            %div
              %p
                %span.text-muted Nothing to display