.x_panel
  .x_title
    %h2 Merchant Branches
    %ul.nav.navbar-right.panel_toolbox
      %li.right
        %a.collapse-link
          %i.fa.fa-chevron-up
    .clearfix
  .x_content
    - branch_array = deal.branches.select(:id).pluck(:id)
    - if deal.merchant.present?
      %table.table.table-hover{ data: { deal_id: deal.id } }
        %thead
          %tr
            %td
            %td Name
        %tbody
          - deal.merchant.branches.each do |branch|
            %tr
              %td{width: "20"}
                = check_box_tag :branch, 1, branch_array.include?(branch.id), class: 'branch-toggle', data: { branch: branch.id }
              %td
                = branch.name
    - else
      .note.note-warning
        %h4.note-title No Merchant Branches
        The selected merchant has no branches to assign this deal to.
