.table-responsive
  %table.table.table-striped.jambo_table.bulk_action.table-1100
    %thead
      %tr.headings
      %th{colspan: '14'}
        .row
          .col-sm-offset-4.col-xs-4.col-sm-3.text-right
            = render 'admin/dashboards/per_page'
          .col-xs-8.col-sm-5
            = render 'admin/dashboards/search_form', target: 'deals', query: params[:query], attr: 'name'
      %tr.headings
        %th.column-title
          Merchant
          = render 'admin/dashboards/column_sorting', model: Deal, column: :name_of_merchant
        %th.column-title
          Title
          = render 'admin/dashboards/column_sorting', model: Deal, column: :title
        %th.column-title
          Recommended
          = render 'admin/dashboards/column_sorting', model: Deal, column: :recommended
        %th.column-title
          Online
          = render 'admin/dashboards/column_sorting', model: Deal, column: :online
        %th.column-title
          In Store
          = render 'admin/dashboards/column_sorting', model: Deal, column: :in_store
        %th.column-title
          Published
          = render 'admin/dashboards/column_sorting', model: Deal, column: :published
        %th.column-title.no-link.last
          %span.nobr Action
    - if deals.present?
      %tbody
        - deals.each do |deal|
          %tr{ 'data-id': deal.id }
            %td
              = deal.merchant.try(:name) || 'Unknown'
            %td
              = link_to edit_admin_deal_path(deal), class: '' do
                = deal.title
            %td
              .switch.switch-sm
                %input.cmn-toggle.cmn-toggle-round.switch-deal-status{'data-status': 'recommended', type: 'checkbox', checked: deal.recommended, id: "cmn-recommended-#{deal.id}" }
                %label{for: "cmn-recommended-#{deal.id}"}
            %td
              .switch.switch-sm
                %input.cmn-toggle.cmn-toggle-round.switch-deal-status{'data-status': 'online', type: 'checkbox', checked: deal.online, id: "cmn-online-#{deal.id}" }
                %label{for: "cmn-online-#{deal.id}"}
            %td
              .switch.switch-sm
                %input.cmn-toggle.cmn-toggle-round.switch-deal-status{'data-status': 'in_store', type: 'checkbox', checked: deal.in_store, id: "cmn-in-store-#{deal.id}" }
                %label{for: "cmn-in-store-#{deal.id}"}
            %td
              .switch.switch-sm
                %input.cmn-toggle.cmn-toggle-round.switch-deal-status{'data-status': 'published', type: 'checkbox', checked: deal.published, id: "cmn-published-#{deal.id}" }
                %label{for: "cmn-published-#{deal.id}"}
            %td.last{width: '100'}
              .btn-group
                = link_to edit_admin_deal_path(deal), class: 'btn btn-xs btn-default' do
                  %i.fa.fa.fa-pencil
                = link_to admin_deal_path(deal), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do
                  %i.fa.fa-trash
    - else
      %tbody
        %tr.even.pointer
          %td{colspan: '14'}
            No deals to display