= simple_form_for [:admin, deal], html: { id: 'form-deal' } do |f|
  .x_panel
    .x_title
      %h2 Deal Details
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      - flash.each do |name, msg|
        .alert.alert-success
          = msg
      - if deal.errors.any?
        - deal.errors.full_messages.each do |e|
          .alert.alert-danger
            = e
      .row
        .col-xs-12
          = f.input :merchant_id, as: :select, collection: merchants, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :title, input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.label 'Availability'
          #bs-datepicker-range.input-daterange.input-group
            = f.input :start_date, as: :datepicker, label: false, input_html: { placeholder: 'Start date', class: 'input-sm form-control' }
            %span.input-group-addon to
            = f.input :start_date, as: :datepicker, label: false, input_html: { placeholder: 'End date', class: 'input-sm form-control' }
      .row
        .col-xs-12
          = f.input :blurb, label: 'Blurb/Slogan', input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :deal, label: 'Deal Details', input_html: { class: 'form-control tinymce', rows: 6 }
      .row
        .col-xs-12
          = f.input :terms, label: 'Terms  Conditions', input_html: { class: 'form-control tinymce', rows: 6 }
  .x_panel
    .x_title
      %h2 Deal Settings
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row
        - if !deal.new_record?
          .col-xs-12.col-sm-6.col-lg-3.input
            = f.label :published
            = check_box_tag :false_published, false, true, class: 'cmn-toggle cmn-toggle-round', name: 'deal[published]'
            .switch.switch-sm
              = check_box_tag :published, true, deal.published, class: 'cmn-toggle cmn-toggle-round', name: 'deal[published]'
              %label{ for: 'published' }
        .col-xs-12.col-sm-6.col-lg-3.input
          = f.label :recommended
          = check_box_tag :false_recommended, false, true, class: 'cmn-toggle cmn-toggle-round', name: 'deal[recommended]'
          .switch.switch-sm
            = check_box_tag :recommended, true, deal.recommended, class: 'cmn-toggle cmn-toggle-round', name: 'deal[recommended]'
            %label{ for: 'recommended' }
        .col-xs-12.col-sm-6.col-lg-3.input
          = f.label :online, 'Available Online'
          = check_box_tag :false_online, false, true, class: 'cmn-toggle cmn-toggle-round', name: 'deal[online]'
          .switch.switch-sm
            = check_box_tag :online, true, deal.online, class: 'cmn-toggle cmn-toggle-round', name: 'deal[online]'
            %label{ for: 'online' }
        .col-xs-12.col-sm-6.col-lg-3.input
          = f.label :in_store, 'Available In-Store'
          = check_box_tag :false_in_store, false, true, class: 'cmn-toggle cmn-toggle-round', name: 'deal[in_store]'
          .switch.switch-sm
            = check_box_tag :in_store, true, deal.online, class: 'cmn-toggle cmn-toggle-round', name: 'deal[in_store]'
            %label{ for: 'in_store' }
        .col-xs-12.col-sm-6.col-lg-3.input
          = f.label :premium, 'Premium Deal?'
          = check_box_tag :false_premium, false, true, class: 'cmn-toggle cmn-toggle-round', name: 'deal[premium]'
          .switch.switch-sm
            = check_box_tag :premium, true, deal.premium, class: 'cmn-toggle cmn-toggle-round', name: 'deal[premium]'
            %label{ for: 'premium' }
      .row
        .col-xs-12
          = f.input :ordering, label: 'Ordering Weight', input_html: { class: 'form-control' }
  .x_panel
    .x_title
      %h2 Links & Social
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row
        .col-xs-12
          %br
          .alert.alert-info
            %button.close{'data-dismiss': 'alert', type: 'button'} &#xD7;
            %strong Heads up!
            Remember to add
            %strong http://
            to all URL's
          = f.input :url, input_html: { class: 'form-control', placeholder: 'http://google.com' }
      .row
        .col-xs-12
          = f.input :twitter, input_html: { class: 'form-control', placeholder: 'http://twitter.com/' }
      .row
        .col-xs-12
          = f.input :facebook, input_html: { class: 'form-control', placeholder: 'http://facebook.com/' }
      .row
        .col-xs-12
          = f.input :instagram, input_html: { class: 'form-control', placeholder: 'http://instagram.com'}
      .row
        .col-xs-12
          = f.input :pinterest, input_html: { class: 'form-control', placeholder: 'http://pinterest.com' }
  .x_panel
    .x_title
      %h2 Deal Image
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row
        .col-xs-12
          .panel.colourable
            .panel-heading
              %span.panel-title Image
            .panel-body.text-center
              -#= image_tag deal.media.url(:thumb)
          .alert.alert-info
            %button.close{'data-dismiss': 'alert', type: 'button'} &#xD7;
            %strong Heads up!
            This get's scaled  cropped down automatically to 480x330 for mobile, so please check that the image submit works at those sizes too.
          = f.input :media, label: 'Deal Background Image (1000x688 - png or jpg)', accept: 'image/png,image/jpeg'
  .x_panel
    .x_title
      %h2 SEO
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row
        .col-xs-12
          = f.input :seo_keyword, label: 'SEO Focus Keywords', input_html: { class: 'form-control' }
      .row
        .col-xs-12
          = f.input :seo_description, label: 'SEO Description', input_html: { class: 'form-control' }
  .x_panel
    .x_title
      %h2 Notes
      %ul.nav.navbar-right.panel_toolbox
        %li.right
          %a.collapse-link
            %i.fa.fa-chevron-up
      .clearfix
    .x_content
      .row
        .col-xs-12
          = f.input :note, label: 'Notes', input_html: { class: 'form-control tinymce' }
= tinymce
