.page-header.border-t
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-tag.page-header-icon
        Deals
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to new_admin_deal_path, class: 'btn btn-primary btn-lg' do
          Add New deal
.row
  .col-xs-12
    = render 'deal_table', deals: @deals

= paginate @deals
