.page-header
  .row
    .col-xs-6.col-sm-6
      %h1
        %i.fa.fa-tag.page-header-icon
        New Deal
    .col-xs-6.col-sm-6.text-right
      %h1
        = link_to admin_deals_path do
          #button-cancel-deal.btn.btn-lg.btn-cancel
            Cancel
        %button.submit-form-button.btn.btn-primary.btn-lg{ 'data-target': 'deal' } Save
.row
  .col-xs-12.col-md-7
    = render 'form', deal: @deal, merchants: @merchants
