<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Varsity Vibe - Print your Temporary Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!-- Open Sans font from Google CDN -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Titillium+Web:200italic,400,400italic' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

</head>

<body class="theme-varsityvibe">

<script>var init = [];</script>

<div id="main-wrapper" class="hidden-print">

  <div id="main-menu" role="navigation">
    <div id="main-menu-inner">
      <div class="menu-content top no-padding text-center">
        <a href="http://www.varsityvibe.co.za"><img src="<%= image_path('VarsityVibe-220px.png') %>" alt="" class="logo"></a>
        <ul class="navigation"><li><a href=""></a></li></ul>
      </div>

    </div> <!-- / #main-menu-inner -->
  </div> <!-- / #main-menu -->

  <div id="content-wrapper">
    <%= yield %>
  </div>
  <div id="main-menu-bg"></div>
</div> <!-- / #main-wrapper -->
<% if content_for? :id_number %>
<div class="container card-printable">
  <div class="row">

    <h3><%= yield :member_name %></h3>

    <div class="col-md-7">
      <div class="temp-card">
        <img src="<%= image_path('vv-temp-card-2015.png') %>" alt="" title="">
        <span class="temp-card-code"><%= yield :id_number %></span>
        <span class="temp-card-expires">Expires <%= yield :expiry %></span>
        <span class="temp-card-referral">Referral Code: <%= yield :referral_code %></span>
      </div>
    </div><!-- col-md-6 -->

    <div class="col-md-5">
      <p>Your Referral code is: <%= yield :referral_code %>.<br> Don't forget! You get <%= yield :reward_price %> for every person / friend you get to sign up. All they have to do is include your referral code when signing up.</p>
    </div><!-- col-md-6 -->
  </div><!-- /. row -->
</div>
<% end %>
<script type="text/javascript">
    window.PixelAdmin.start(init);
</script>

</body>
</html>