<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Varsity Vibe - New Member Sign Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!-- Open Sans font from Google CDN -->
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Titillium+Web:200italic,400,400italic' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

</head>

<body class="theme-varsityvibe">

<script>var init = [];</script>

<div id="main-wrapper">

  <div id="main-menu" role="navigation">
    <div id="main-menu-inner">
      <div class="menu-content top no-padding text-center">
        <a href="https://varsityvibe.co.za"><img src="<%= image_path('VarsityVibe-220px.png') %>" alt="" class="logo"></a>
      </div>

      <ul class="navigation">
        <li>
          <a href="https://varsityvibe.co.za/"><span class="mm-text mmc-dropdown-delay animated fadeIn">Home</span></a>
        </li>

        <li>
          <a href="https://varsityvibe.co.za/deals-page"><span class="mm-text mmc-dropdown-delay animated fadeIn">Deals</span></a>
        </li>

        <li>
          <a href="https://varsityvibe.co.za/join"><span class="mm-text mmc-dropdown-delay animated fadeIn">Sign Up</span></a>
        </li>

        <li>
          <a href="http://info.varsityvibe.co.za/recruit"><span class="mm-text mmc-dropdown-delay animated fadeIn">Recruit &amp; Earn</span></a>
        </li>

        <li>
          <a href="https://varsityvibe.co.za/competitions"><span class="mm-text mmc-dropdown-delay animated fadeIn">Competitions</span></a>
        </li>

        <li>
          <a href="https://varsityvibe.co.za/news-2"><span class="mm-text mmc-dropdown-delay animated fadeIn">News</span></a>
        </li>

        <li>
          <a href="https://varsityvibe.co.za/become-a-partner"><span class="mm-text mmc-dropdown-delay animated fadeIn">Become a Partner</span></a>
        </li>

        <li>
          <a href="http://info.varsityvibe.co.za/about"><span class="mm-text mmc-dropdown-delay animated fadeIn">About Us</span></a>
        </li>

        <li>
          <a href="https://varsityvibe.co.za/faqs"><span class="mm-text mmc-dropdown-delay animated fadeIn">FAQ</span></a>
        </li>

        <li>
          <a href="https://varsityvibe.co.za/contact-us"><span class="mm-text mmc-dropdown-delay animated fadeIn">Contact Us</span></a>
        </li>

      </ul>

    </div> <!-- / #main-menu-inner -->
  </div> <!-- / #main-menu -->

    <div id="content-wrapper">
        <%= yield %>
    </div>
  <div id="main-menu-bg"></div>
</div> <!-- / #main-wrapper -->

<div id="modals-alerts-info" class="modal modal-alert modal-info fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-info-circle"></i>
      </div>
      <div class="modal-title">Some alert title</div>
      <div class="modal-body">Some alert text</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
      </div>
    </div> <!-- / .modal-content -->
  </div> <!-- / .modal-dialog -->
</div>

<div id="modals-alerts-danger" class="modal modal-alert modal-danger fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-times-circle"></i>
      </div>
      <div class="modal-title">Some alert title</div>
      <div class="modal-body">Some alert text</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
      </div>
    </div> <!-- / .modal-content -->
  </div> <!-- / .modal-dialog -->
</div>

<script type="text/javascript">

    function alertModal(title, msg, close){
        jtOpenModal('#modals-alerts-info', title, msg, close)
    }

    function dangerModal(title, msg, close){
        jtOpenModal('#modals-alerts-danger', title, msg, close)
    }

    function jtOpenModal(id, title, content, close){
        close = close || false;
        var $modal = $(id);

        $modal.find('div.modal-title').text(title);
        $modal.find('div.modal-body').html(content);

        if (!close) {
            $modal.find('div.modal-footer button').hide()
        } else {
            $modal.find('div.modal-footer button').show();
        }

        $modal.modal();

    }

    window.PixelAdmin.start(init);
</script>

</body>
</html>
