<!doctype html>
<html lang="en">
  <head>
    <!-- Doc data -->
    <title>Varsity Vibe | Student Deals</title>
    <meta content="SA’s 1st Student Discount App! Instant access to exclusive student deals around SA." name="description">
    <meta content="" name="keywords">
    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="https://varsityvibe.co.za/" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="SA’s 1st Student Discount App! Instant access to exclusive student deals around SA."/>
    <meta name="twitter:title" content="Home - Varsity Vibe"/>

    <!-- OG -->
    <meta property="og:image" content="<%= image_url('fb-link.png') %>" />

    <link rel='shortlink' href='https://varsityvibe.co.za/' />

    <!-- DNS prefetch -->
    <link href="//google.com" rel="dns-prefetch">
    <link href="//gstatic.com" rel="dns-prefetch">
    <link href="//googleapis.com" rel="dns-prefetch">
    <link href="//google-analytics.com" rel="dns-prefetch">

    <!-- Apple mobile safari settings -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="" name="apple-mobile-web-app-title">

    <!-- Render tags -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--[if IEMobile]> <meta http-equiv="cleartype" content="on"> <![endif]-->

    <!-- Favicon tags -->

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#DB0070">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#0A0A0A">
    <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
    <!-- Stylesheets -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700,900|Lato:400,700,900" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'website', media: 'all', 'data-turbolinks-track' => false %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/shim' %>

    <%= yield %>

    <%= render 'layouts/tracking' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <%= javascript_include_tag 'website', 'data-turbolinks-track' => false %>

    <!--
      <%= "Production?: #{Rails.env.production?}" %>
    -->
  </body>
</html>
